<div class="panel panel-primary">
  <div class="panel-heading">HolaChef Invoice Details</div>
  <div class="panel-body">
    <p>Order Id : <%= @order.id %></p>
    <p>Order Date: <%= @order.date %></p>
    <p>Name: <%= @order.name %></p>
    <p>Phone : <%= @order.phone_no %></p>
    <p>Address : <%= @order.address %></p>
  </div>
</div>
