<div class="panel panel-primary">
  <div class="panel-heading">HolaChef Invoice Details</div>
  <div class="panel-body">
    <style type="text/css">
      td {
        border: solid 1px black;
      }
      tr {
        background: #ff8800;
      }
    </style>
    <table style="width:400px;" >
    <tbody>
      <tr>
        <td style="width:105px">Order Id :</td>
        <td><%= @order.id %></td>
      </tr>
      <tr>
        <td style="width:105px">Order Date:</td>
        <td><%= @order.date %></td>
      </tr>
      <tr>
        <td style="width:105px">Details:</td>
        <td><% @order.order_details.each do |detail| %>
          <%= detail%></br>
         <%end%></td>
      </tr>
      <tr>
        <td style="width:105px">Total Cost:</td>
        <td>Rs<%= @order.total %>/-</td>
      </tr>
      <tr>
        <td style="width:105px">Name:</td>
        <td><%= @order.name %></td>
      </tr>
      <tr>
        <td style="width:105px">Phone :</td>
        <td><%= @order.phone_no %></td>
      </tr>
      <tr>
        <td style="width:105px">Address :</td>
        <td><%= @order.addressStreet1 %></br>
        		<%= @order.addressStreet2 %></br>
        		<%= @order.addressCity %></br>
        		<%= @order.addressZip %>
        </td>
      </tr>
    </tbody>
    </table>
  </div>
</div>
