<div class="container-fluid">
          <div class="row">
                <div class="col-xs-12">
                  <div class="address-container">

                    <div class="row">
                      <div class="col-xs-12">
                        <div class="form-group">
                          <div class="address-label">
                            <a href="/new_address?src=o" class="btn back-white btn-block text-orange address-btn">
                                <span class="glyphicon glyphicon-plus text-orange"></span> Add New Address
                            </a>
                          </div>
                        </div>
                        <% if hola_current_user %>
                        <%= form_tag "/payment-method", :method => "POST", :name => "orders", :id => "submit_order" do %>

                          <% hola_current_user.hola_user_addresses.each_with_index do |address, index| %>
                            <% next if address.address_array.blank? %>
                            <div class="form-group each-address">
                              <table class="table address-table">
                                  <colgroup><col class="col-xs-2 col-sm-1"><col class="col-xs-10 col-sm-11"></colgroup>
                                  <tr>
                                    <td class="a-radio">
                                        <input type="radio" name="address_id" value="<%= address.id %>" id= '<%="address-#{address.id}"%>' class="validate[required]" data-errormessage="Please choose a address.">
                                    </td>
                                    <td>
                                        <label for='<%="address-#{address.id}"%>' style="cursor: hand">
                                          <p class="address-brief">
                                            <% address.address_array.each do |addrs| %>
                                              <span><%=addrs %><%= address.address_array.last == addrs ? "" : ", " %></span>
                                            <% end %>
                                          </p>
                                        </label>
                                    </td>
                                  </tr>
                              </table>
                            </div>
                          <% end %>

                        <% end %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
</div>

<!-- fluid container ends -->
<% content_for :review_order_footer do %>
    <%= render :partial => "/layouts/review_order_footer" %>
<% end %>
