<%= content_for :header_content do %>
    <%= render :partial => "/layouts/facebook" %>
<% end %>
<div class="container-fluid">
  <div class="grey-header">
    <h4 class="text-center text-uppercase">Order Confirmation</h4>
  </div>
</div>

<div class="container-fluid back-white seperator-2">
  <div class="seperator-5 back-white text-center">
    <p class="hola-text">Hola! Thanks for placing your order.</p>
    <p class="hola-text1">Elvis (our darling van) will reach you with your food.<br>Eat Hearty. Everyday!</p>
  </div>
</div>

<br/>
<br/>
<div class="container-fluid back-white seperator-10">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
      <p class="text-orangeS text-center">SHARING IS CARING !</p>
      <div class="hola-cards">
        <ul class="social-cards text-center">

          <li class="in_browser" style="display:none"><a href="#" onclick="socail_click('http://www.facebook.com/sharer.php?u=http://www.holachef.com')"><i class="fa fa-facebook"></i></a></li>

          <li class="in_iframe" ><a href="#" onclick="parent.socail_click('http://www.facebook.com/sharer.php?u=http://www.holachef.com')"><i class="fa fa-facebook"></i></a></li>

          <li class="in_browser" style="display:none"><a href="#" onclick="socail_click('https://twitter.com/intent/tweet?text=Check out this&url=http://www.holachef.com')"><i class="fa fa-twitter"></i></a></li>

          <li class="in_iframe"><a href="#" onclick="parent.socail_click('https://twitter.com/intent/tweet?text=Check out this&url=http://www.holachef.com')"><i class="fa fa-twitter"></i></a></li>

          <li><a href="/tell_friends"><i class="fa fa-envelope-o"></i></a></li>
          <li class="in_iframe" ><a href="#" onclick="parent.socail_click('http://www.pinterest.com/pin/create/button/?url=http://www.holachef.com&media=http://www.holachef.com/assets/hola-logo-xs.png&description=Holachef worth craving for')"><i class="fa fa-pinterest"></i></a></li>

          <li class="in_browser" style="display:none"><a href="#" onclick="socail_click('http://www.pinterest.com/pin/create/button/?url=http://www.holachef.com&media=http://www.holachef.com/assets/hola-logo-xs.png&description=Holachef worth craving for')"><i class="fa fa-pinterest"></i></a></li>

          <li><a href="http://instagram.com/hola_chef", target="_blank"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div> <!-- fluid container ends -->
<!-- Google Code for Order-Confirm Conversion Page -->
<script type="text/javascript">
    /* <![CDATA[ */
    try{
    _gaq.push(['_addTrans',
        '<%= @order.id %>',           // transaction ID - required
        'HolaChef', // affiliation or store name
        '<%= @order.total %>',          // total - required
        '0.00',           // tax
        '00.00',          // shipping
        'Mumbai',       // city
        'Maharashtra',     // state or province
        'India'             // country
    ]);
    <% @order.ordered_menus.each do |order| %>
     _gaq.push(['_addItem',
        '<%= @order.id %>',           // transaction ID - necessary to associate item with transaction
        '<%= order.id %>',           // SKU/code - required
        '<%= order.food_item %>',        // product name
        '<%= order.cooking_today.meal_type if order.cooking_today%>',   // category or variation
        '<%= order.rate %>',          // unit price - required
        '<%= order.quantity %>'               // quantity - required
    ]);
    <% end %>
     _gaq.push(['_trackTrans']);
     } catch(err) {}
    var google_conversion_id = 976088152;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "t2zICPed01YQ2Ni30QM";
    var google_conversion_value = <%= @order.total %>;
    var google_conversion_currency = "INR";
    var google_remarketing_only = false;

    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
  <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/976088152/?value=250.00&amp;currency_code=INR&amp;label=t2zICPed01YQ2Ni30QM&amp;guid=ON&amp;script=0"/>
  </div>
</noscript>