
  <div class="container-fluid back-white">
      <div class="grey-header">
          <h4 class="text-uppercase text-center grey-text">Choose Payment Mode</h4>
      </div>
  </div> <!-- fluid container ends -->

  <div class="container back-white seperator-2">
        <!--<ul class="pay-options-radio">-->
        <!--<li class="orange-check">-->
              <!--<input name="pay-by" id="radio-cod" class="css-checkbox" type="radio">-->
              <!--<%#= link_to "Cash / Card on Delivery", "/order-confirm/#{@order.id}?payment_mode=cash_on_delivery" , :class => 'payment_mode_color' %>-->
        <!--</li>-->
          <!--<li class="orange-check">-->
            <!--<input name="pay-by" id="radio-nbanking" class="css-checkbox" type="radio">-->
            <!--<%#= link_to "Netbanking", "#", :data=>{:paymentMode => "NET_BANKING", :orderId => @order.id}, :class => 'payment_mode payment_mode_color' %>-->
          <!--</li>-->
      <!--</ul>-->

      <div class="row">
        <div class="col-xs-12">
            <div class="payment_method_div">
                <!--<form id="payment_method" method="post" action="">-->
                <ul class="pay-options-radio">
                        <li class="orange-check">
                              <input name="pay-by" id="radio-cod" class="css-checkbox validate[required]" data-errormessage="Please choose a payment method." data-payment-mode="cash_on_delivery" data-order-id="<%= @order.id %>" type="radio">
                              <label for="radio-cod" class="css-label">Cash on Delivery</label>
                        </li>
                        <li class="orange-check">
                              <input name="pay-by" id="radio-caod" class="css-checkbox validate[required]" data-errormessage="Please choose a payment method." data-payment-mode="card_on_delivery" data-order-id="<%= @order.id %>" type="radio">
                              <label for="radio-caod" class="css-label">Card on Delivery</label>
                        </li>
                        <li class="orange-check">
                              <input name="pay-by" id="radio-nbanking" class="css-checkbox validate[required]" data-errormessage="Please choose a payment method" type="radio" data-payment-mode="net_banking" data-order-id="<%= @order.id %>">
                              <label for="radio-nbanking" class="css-label">Online</label>
                        </li>
                        <li class="orange-check">
                              <input name="pay-by" id="radio-coud" class="css-checkbox validate[required]" data-errormessage="Please choose a payment method." type="radio" data-payment-mode="coupons_on_delivery" data-order-id="<%= @order.id %>">
                              <label for="radio-coud" class="css-label">Coupon on Delivery</label>
                        </li>
                      </ul>
                <!--</form>-->
            </div>
        </div>
      </div>

    <div class="payment_form"></div>

    <div id="footer" class="footer">
      <div class='container'>
        <div class='row'>
          <div class='col-xs-12'>
            <div class='tap-text'>
              <p class='text-center' id="select_payment">
                <%= link_to "PLACE AN ORDER", "#", :class => 'select_payment_method payment_mode_color' %>
                <%= link_to "PLACE AN ORDER", "/order-confirm/#{@order.id}?payment_mode=cash_on_delivery" , :class => 'cash_delivery payment_mode_color' %>
                <%= link_to "PLACE AN ORDER", "#", :data=>{:paymentMode => "NET_BANKING", :orderId => @order.id}, :class => 'netbanking payment_mode payment_mode_color' %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- cart proceed button -->
<div class="seperator-25 mb-4">
  <div class="clearfix text-center">
    <a id="desktop-proceed-pay" href="#" class="btn btn-saffron">Proceed to Checkout <i class="fa fa-angle-double-right"></i></a>
  </div>
</div>
