<% if f.object.address_type.blank? %>
  <div class="form-group">
    <%= f.text_field :address_type, class: "form-control", placeholder: "Address Type", required: true %>
    <p class="help-block">Home, Work etc</p>
  </div>
<% else %>
  <%= f.hidden_field :address_type, required: true %>
<% end %>
<div class="form-group">
  <%= f.text_field :name, class: "form-control", placeholder: "Name", required: true %>
</div>
<div class="form-group">
  <%= f.text_field :building_name, class: "form-control", placeholder: "Flat/ Building", required: true %>
</div>
<div class="form-group">
  <%= f.text_field :street, class: "form-control", placeholder: "Street", required: true %>
</div>
<div class="form-group">
  <%= f.text_field :city, class: "form-control", placeholder: "City", required: true %>
</div>
<div class="form-group">
  <%= f.text_field :pin, class: "form-control", placeholder: "Pin", required: true %>
</div>
<div class="form-group">
  <%= f.text_field :landmark, class: "form-control", placeholder: "Landmark" %>
  <%= f.hidden_field :hola_user_id %>
</div>
<div class="form-group text-center seperator-25">
  <%= f.submit "Save", class: "btn btn-saffron" %>
  <% unless f.object.new_record?%>
    <%#= hidden_field_tag :hola_user_address_id, f.object.id, class: "hola_user_address_id" %>
    <% unless f.object.default %>
      <button class="btn btn-saffron set_default" type="button" data-address-id="<%= f.object.id %>">Set Default</button>
    <% end %>
  <% end %>
</div>
