
<div class="container-fluid">


    <div class="row">
      <% if flash[:notice] %>
        <div class="successMsg"><%= flash[:notice] %></div>
      <% end %>
      <div class="col-xs-12">
        <div class="grey-header text-center text-uppercase">
          <h4>Addresses</h4>
        </div>
      </div>
    </div>
  </div>

    <div class="container">
        <div class="row">
          <div class="col-xs-12">
              <% if hola_current_user %>

              <% hola_current_user.hola_user_addresses.each_with_index do |address, index| %>
                <% next if address.address_array.blank? %>
                <div class="form-group each-address">
                  <table class="table address-table">
                      <tr>
                        <td>
                            <label for="addr-<%= index %>">
                              <span class="address-brief">
                                <% address.address_array.each do |addrs| %>
                                  <span><%=addrs %><%= address.address_array.last == addrs ? "" : ", " %></span>
                                <% end %>
                              </span>
                            </label>
                        </td>
                      </tr>
                  </table>
                </div>
              <% end %>

            <% end %>            
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group text-center">
              <a href="/new_address" class="btn btn-saffron">
                  <span class="glyphicon glyphicon-plus"></span> ADD NEW ADDRESS
              </a>
            </div>
          </div>
        </div>
    </div>
<%= render 'layouts/dynamik_footer', message: "Your Place. Your Plate." %>
