<div class="col-xs-12">


    <div class="row">
      <% if flash[:notice] %>
        <div class="successMsg"><%= flash[:notice] %></div>
      <% end %>
      <div class="col-xs-12">
        <div class="form-group">
                          <div class="address-label">
                            <a href="/new_address" class="btn back-white btn-block text-orange address-btn">
                                <span class="glyphicon glyphicon-plus text-orange"></span> Add New Address
                            </a>
                          </div>
                        </div>
                          <% if hola_current_user %>

                          <% hola_current_user.hola_user_addresses.each_with_index do |address, index| %>
                            <% puts address.inspect %>
                            <div class="form-group each-address">
                              <table class="table address-table">
                                  <tr>

                                    <td>
                                        <label for="addr-<%= index %>">
                                          <p class="address-brief">
                                            <% address.address_array.each do |addrs| %>
                                              <span><%=addrs %><%= address.address_array.last == addrs ? "" : ", " %></span>
                                            <% end %>
                                          </p>
                                        </label>
                                    </td>
                                  </tr>
                              </table>
                            </div>
                          <% end %>

                        <% end %>
      </div>
    </div>
</div>
<%= render 'layouts/dynamik_footer', message: "Your Place. Your Plate." %>
