<div class="container-fluid">


    <div class="row">
      <% if flash[:notice] %>
        <div class="successMsg"><%= flash[:notice] %></div>
      <% end %>
      <div class="col-xs-12">
        <div class="form-group grey-header">
            <div class="address-label">
              <a href="/new_address" class="btn back-white btn-block text-grey address-btn">
                  <span class="glyphicon glyphicon-plus"></span> ADD NEW ADDRESS
              </a>
            </div>
        </div>
      </div>
    </div>
    <div class="container">
              <% if hola_current_user %>

              <% hola_current_user.hola_user_addresses.each_with_index do |address, index| %>
                <% next if address.address_array.blank? %>
                <div class="form-group each-address">
                  <table class="table address-table">
                      <tr>
                        <td>
                            <label for="addr-<%= index %>">
                              <p class="address-brief">
                                <% address.address_array.each do |addrs| %>
                                  <span><%=addrs %><%= address.address_array.last == addrs ? "" : ", " %></span>
                                <% end %>
                              </p>
                            </label>
                        </td>
                      </tr>
                  </table>
                </div>
              <% end %>

            <% end %>
        </div>
<%= render 'layouts/dynamik_footer', message: "Your Place. Your Plate." %>
