          <div class="container">

              <div class="row">
                <div class="col-xs-12">
                  <div class="address-container">

                    <div class="address-card back-white">
                          <%= form_for @address do |f| %>
                            <div class="form-group">
                              <%= f.text_field :building_name, class: "form-control validate[required]", placeholder: "Flat/ Building" %>
                             </div>
                            <div class="form-group">
                              <%= f.text_field :street, class: "form-control validate[required]", placeholder: "Street" %>
                             </div>
                            <div class="form-group">
                              <%= f.text_field :landmark, class: "form-control validate[required]", placeholder: "Landmark" %>
                            </div>
                            <div class="form-group">
                              <%= f.select :pin, HolaUserAddress.pin_codes, {prompt: "Pincode"}, class: "form-control validate[required] required" %>
                            </div>
                            <%= hidden_field_tag :src, params[:src] %>
                            <div class="form-group text-center seperator-25">
                              <button class="btn btn-saffron" type="submit" id= "address_submit_button">SAVE</button>
                             </div>
                          <% end %>
                     </div>
                  </div>
                </div>
              </div>


          </div>
