<div class="fields" style="border-bottom: 1px solid #000000;">
  <div class="fields text_editor_fields">
    <%= f.label :steps %>
    <%= f.text_area :steps, :class => "prep_steps_textarea" %>
  </div>

  <div class="fields text_fields">
    <label for="recipe_recipe_image">Recipe Image</label>
    <%= f.fields_for :picture, PreprationStep.new do |i| %>
        <%= i.file_field :image, :class => 'meal_image' %>
    <% end %>

  </div>

  <span style="margin-left: 140px;margin-top: 10px;display: table;">
    <%= link_to_remove_fields "Remove Step", f %>
  </span>
</div>
