<%= stylesheet_link_tag "cms_custom" %>



<div class="fields">
  <div class="fields sub-heading">
    &nbsp;>> Sub Menu
  </div>

  <div class="fields text_fields">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="border-and_padding">
      <div class="fields sub-sub-heading">
        >> Ingredients
      </div>
      <%= f.fields_for :ingredients do |builder| %>
          <%= render 'ingredient_fields', :f => builder %>
      <% end %>
      <span class="add-remove-links">
          <%= link_to_add_fields "Add Ingredients", f, :ingredients %>
      </span>
  </div>

  <span style="margin-left: 140px;margin-top: 10px;display: table;">
    <%= link_to_remove_fields "Remove SubMenu", f %>
  </span>

</div>