<div class="col-xs-12">
  <% if flash[:notice] %>
    <div class="successMsg"><%= flash[:notice] %></div>
  <% end %>
  <div class="container-fluid back-white seperator-10">
    <h6 class="page-title">Party Order Details</h6>
  </div>
  <%= form_for @party_order, :url => '/create_party_orders' do |f| %>
    <div class="row">
      <div class="col-xs-12">
        <div class="normal-body">
          <!--<div class="form-group talk-us">-->
            <!--<%#= f.text_area :details, rows: 8, class: "form-control no-radius", placeholder: "Enter your order details...", required: true %>-->
          <!--</div>-->
          <div class="input-card">
            <%= f.text_field :name, class: "lower-only", placeholder: "Name", required: true %>
          </div>
          <div class="input-card">
            <%= f.text_field :contact_no, class: "lower-only", placeholder: "Phone Number", required: true, maxlength: "13" %>
          </div>
          <div class="input-card">
            <%= f.email_field :email, class: "lower-only", placeholder: "Enter your email", required: true %>
          </div>
          <div class="form-group seperator-15">
            <%= f.submit "Submit", class: "btn btn-saffron" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= render 'layouts/dynamik_footer', message: "Enjoy your party !" %>
