<!-- <div class="col-xs-12">
 -->

  <div class="container-fluid">
      <div class="grey-header">
          <h4 class="text-center text-uppercase">Enter Your Details</h4>
      </div>
  </div>
  <%= form_for @party_order, :url => '/create_party_orders' do |f| %>
<div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="normal-body">
          <!--<div class="form-group talk-us">-->
            <!--<%#= f.text_area :details, rows: 8, class: "form-control no-radius", placeholder: "Enter your order details...", required: true %>-->
          <!--</div>-->
          <div class="input-card">
            <%= f.text_field :name, class: "lower-only validate[required]", placeholder: "Name" %>
          </div>
          <div class="input-card">
            <%= f.text_field :contact_no, class: "lower-only validate[required]", placeholder: "Phone Number", maxlength: "13" %>
          </div>
          <div class="input-card">
            <%= f.email_field :email, class: "lower-only validate[required]", placeholder: "Enter your email" %>
          </div>
          <div class="form-group seperator-15">
            <%= f.submit "Submit", class: "btn btn-saffron" %>
          </div>
          <% if flash[:notice] %>
            <div class="successMsg"><%= flash[:notice] %></div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= render 'layouts/dynamik_footer', message: "Enjoy your party !" %>
