<%= stylesheet_link_tag "cms_custom" %>
<% if @dish.errors.any? %>
    <div id="errorExplanation" class="errorExplanation">
      <ul>
        <% @dish.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>
<%= form_for @dish , :url => "/cms/dishes/#{@dish.id}" do |f| %>
    <div class="fields text_fields">

      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="fields text_fields">
      <%= f.label :cheff %>
      <%= f.select :cheff_id, Cheff.find(:all,:order => 'name asc').collect { |s| [s.name, s.id] },
                   :include_blank => true, :label => "Cheff",
                   :instructions => "Select Cheff for the dish." %>
    </div>
    <div class="fields text_fields">
      <label for="dish_dish_image">Dish Image</label>
      <%= f.fields_for :picture, Dish.new do |i| %>
          <%= i.file_field :image %>
      <% end %>
    </div>

    <div class="fields text_fields">
      <%= f.label :if_signature %>
      <%= f.select :if_signature, ["true", "false"] %>
    </div>
    <div class="fields text_fields">
      <%= f.label :dish_type %>
      <%= f.select :dish_type, ["veg", "non-veg"], :include_blank => '-- Select Dish Type --' %>
    </div>
    <div class="fields text_fields">
      <%= f.label :portions %>
      <%= f.text_field :portions %>
    </div>
    <div class="fields text_fields">
      <%= f.label :days_notice %>
      <%= f.text_field :days_notice %>
    </div>
    <div class="fields text_fields">
      <%= f.label :price %>
      <%= f.text_field :price %>
    </div>
    <div class="fields text_editor_fields">
      <%= f.label :information %>
      <%= f.text_editor :information %>
    </div>

    <div class="fields text_fields">
      <%= f.label :cooking_time %>
      <%= f.text_field :cooking_time %>
    </div>
    <div class="fields text_fields">
      <%= f.label :serves %>
      <%= f.text_field :serves %>
    </div>
    <div class="fields text_fields">
      <%= f.label :cuisine %>
      <%= f.select :cuisine, ["Punjabi","South Indian","Mughlai","Hyderabadi","Gujrati","Kashmiri","Mexican","American","Others"] %>
    </div>
    <div class="fields text_fields">
      <%= f.label :category %>
      <%= f.select :category, ["Main Course","Salad","Side Dish","Entre", "Snack","Soup","Brunch","Dessert","Other"] %>
    </div>
    <div class="fields text_fields">
      <%= f.label :cooking_equipment %>
      <%= f.select :cooking_equipment, ["Gas/Electric Stove","Oven","Freezer","Frying Pan","Non-Stick Pan","Steamer","Pressure Cooker","Others"]%>
    </div>
    <div class="fields text_fields">
      <%= f.label :treatment %>
      <%= f.select :treatment, ["Shallow Fried","Fried","Baked","Frozen","Steamed","Thaw","Preservation","Roast","Pressure Cook","Scaling","Skinning","Slow Cooked","Smoked","BBQ","Boil","Toast","Marination","Simmering","Shallow Poaching","Poaching","Well Done","Medium","Rare","Grilling","Blanching","Canning","Others"] %>
    </div>
    <div class="fields text_fields">
      <%= f.label :tag_list %>
      <%= f.text_field :tag_list %>
    </div>

    <div class="fields text_fields" style="font-weight: bold;font-size: 25px;color: #36659D;padding-top: 35px;">
      SubMenu
    </div>
    <%= f.fields_for :sub_menus do |builder| %>
        <%= render 'sub_menu_fields', :f => builder %>
    <% end %>
    <span style="margin-top: -20px;display: table;"><%= link_to_add_fields "Add SubMenu", f, :sub_menus %></span>

    <div class="fields text_fields" style="font-weight: bold;font-size: 25px;color: #36659D;padding-top: 35px;">
      Tips
    </div>
    <%= f.fields_for :tips do |builder| %>
        <%= render 'tip_fields', :f => builder %>
    <% end %>
    <span style="margin-top: -20px;display: table;">
      <%= link_to_add_fields "Add Tips", f, :tips %>
    </span>

    <div style="margin-top: 20px;">
      <span style="padding: 20px;width: 100px;">
        <%= f.submit "SUBMIT" %>
      </span>
      <span style="padding: 20px;width: 100px;">
        <input type="button" value="CANCEL" onclick="window.location='/cms/dishes';">
      </span>
    </div>
<% end %>

<script>
    function remove_fields(link) {
        $(link).prev("input[type=hidden]").val("1");
        $(link).closest(".fields").hide();
    }

    function add_fields(link, association, content) {
        var new_id = new Date().getTime();
        var regexp = new RegExp("new_" + association, "g");
        $(link).parent().before(content.replace(regexp, new_id));
    }
</script>