<p><b>Name:</b> <%= @content_block.name %></p>
<p><b>Coupon Code:</b> <%= @content_block.coupon_code %></p>
<p><b>Coupon Type:</b> <%= @content_block.coupon_type %></p>
<p><b>No of Coupons:</b> <%= @content_block.no_of_coupons %></p>
<p><b>No of Used Coupons:</b> <%= @content_block.no_of_used_coupons %></p>
<p><b>Percentage:</b> <%= @content_block.percentage %></p>
<p><b>Flat:</b> <%= @content_block.flat %></p>
