<% cart_menu = collect_cart_items(@menu) if !@menu.nil? %>
<% target = qty_left(@menu) > 0 ? "#item-modal" : "#" %>

<div class="item" data-toggle="modal" data-target="<%=target %>" id="<%=@menu.id%>">
  <input type="hidden" class="menu_price" value="<%=cart_menu[:price] if cart_menu %>" />
  <input type="hidden" class="menu_qty" value="<%= cart_menu[:quantity] if cart_menu  %>" />
  <input type="hidden" class="menu_max_qty" value="<%= qty_left(@menu) %>"/>
  <input type="hidden" class="chef-profile-pic" value="<%= cart_menu[:cheff_image] if cart_menu  %>"/>
  <input type="hidden" class="chef-name" value="<%= cart_menu[:cheff_name] if cart_menu  %>"/>
  <input type="hidden" class="chef-id" value="<%= cart_menu[:cheff_id] if cart_menu  %>"/>
  <ul class="square">
    <li class="recipe-block <%=set_cooing_today_type(menu)%>">
      <% if qty_left(@menu) <= 0 %>
          <div class="recipe-header not-available">
            <div class="add-lens"></div>
            <div class="recipe-name">
              <%= @menu.dish.name %>
            </div>
            <div class="add-heart"></div>
          </div>
      <% elsif @menu.dish.picture && @menu.dish.picture.image? %>
          <div class="recipe-image append-cart">
            <div class="add-lens"></div>
            <div class="add-heart"></div>
            <%= image_tag @menu.dish.picture.image.url, :alt=>"#{@menu.dish.name}", :class => "img-responsive center-block" %>
            <% if @today_menu && @today_menu.has_key?(@menu[:id]) %>
                <div class='add-cart'></div>
            <% end %>
          </div>
      <% else %>
          <div class="recipe-header <%=set_cooing_today_type(@menu)%> append-cart">
            <div class="add-lens"></div>
            <div class="add-heart"></div>
            <div class="recipe-name">
              <%= @menu.dish.name %>
            </div>
            <% if @today_menu && @today_menu.has_key?(@menu[:id]) %>
                <div class='add-cart'></div>
            <% end %>
          </div>
      <% end %>
    </li>
    <li class="recipe-title hidden"><%= @menu.dish.name %></li>
    <% if  @menu.dish.picture && @menu.dish.picture.image? && qty_left(@menu) > 0 %>
        <li class="recipe-title"><%= @menu.dish.name %></li>
    <% end %>

    <li class="recipe-tags">
      <ul class="stock-value">
        <% if @today_menu && @today_menu.has_key?(@menu[:id]) %>
            <li class="recipe-stock text-orange"><%= @today_menu.fetch(@menu[:id]) %> in cart</li>
        <% else %>
            <li class="recipe-stock"><%= qty_left(@menu)>0 ? "#{qty_left(@menu)} left" :  "SOLD OUT!" %></li>
        <% end %>
        <li class="recipe-price"><%= qty_left(@menu)>0 ? "#{@menu.dish.price}/-" : "SORRY :(" %></li>
      </ul>
    </li>
  </ul>
</div>

