
<%# raise menus.inspect %>

<% menus.each do |menu| %>
  <% cart_menu = collect_cart_items(menu) if !menu.nil? %>
  <% target = qty_left(menu) > 0 ? "#item-modal" : "#" %>
  <div class="item item-content" id="<%=menu.id%>">
    <input type="hidden" class="menu_price" value="<%=cart_menu[:price] if cart_menu %>" />
    <input type="hidden" class="menu_qty" value="<%= cart_menu[:quantity] if cart_menu  %>" />
    <input type="hidden" id="menu_category_<%= menu.id %>" value="<%= menu.food_item.recipe.category  %>" />
    <input type="hidden" class="menu_max_qty" value="<%= qty_left(menu) %>"/>
    <input type="hidden" class="chef-profile-pic" value="<%= cart_menu[:cheff_image] if cart_menu  %>"/>
    <input type="hidden" class="chef-name" value="<%= cart_menu[:cheff_name] if cart_menu  %>"/>
    <input type="hidden" class="chef-id" value="<%= cart_menu[:cheff_id] if cart_menu  %>"/>
    <ul class="square added-2-cart">
      <li class="recipe-block <%=set_cooing_today_type(menu)%>">
        <% if menu.food_item.meal_info.picture && menu.food_item.meal_info.picture.image? %>
          <div class="recipe-image append-cart">
            <% if qty_left(menu) == 0 %>
              <div class="add-lens">
						    <p class="text-center">
							   <span class='text-leftitem'>Sold </span>
                 <span class='text-leftitem'>Out</span>
						    </p>
					    </div>
            <% end %>
            <div class="add-heart"></div>
            <%= image_tag menu.food_item.meal_info.picture.image.url, :alt=>"#{menu.food_item.meal_info.name}", :class => "img-responsive center-block imageItemFix about-content" %>
            <!--<div class='add-cart <%= add_cart_view(today_menu,menu)%>'></div>-->
            <div class="dark-overlay">
              <div class="overlay-inner">
                <div class="v-holder">
                  <p class="over-descr">
                    <%= truncate(menu.food_item.meal_info.short_description, length: 250) %>
                  </p>
                  <p class="over-portion">
                    <%= menu.food_item.meal_info.portion_size %>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="prod-carted" style="display: <%= cart_menu[:quantity].to_i > 0 ? 'block' : 'none'%>">
            <h5 class="carted-text" style="display: <%= cart_menu[:quantity].to_i > 0 ? 'block' : 'none'%>">
              <span><%= cart_menu[:quantity].to_i%></span> in your cart
            </h5>
          </div>
        <% else %>
          <div class="recipe-header <%=set_cooing_today_type(menu)%> append-cart colorItemFix about-content">
            <% if qty_left(menu) == 0 %>
              <div class="add-lens">
                <p class="text-center">                    
                  <span class='text-leftitem'>Sold </span>
                  <span class='text-leftitem'>Out</span>                    
                </p>
              </div>
            <% end %>
            <div class="add-heart"></div>
              <%= image_tag "/assets/cart-bag-f0.png", :alt=>"#{menu.food_item.meal_info.name}", :class => "img-responsive center-block imageItemFix about-content hidden" %>
            <div class="name-parent">
              <div class="recipe-name"><%= menu.food_item.meal_info.name %></div>   
            </div>
            <!--<div class='add-cart <%= add_cart_view(today_menu,menu)%>'></div>-->
            <div class="dark-overlay">
              <div class="overlay-inner">
                <div class="v-holder">
                  <p class="over-descr">
                    <strong>Description:</strong>
                    <%= truncate(menu.food_item.meal_info.short_description, length: 250) %> 
                  </p>
                  <p class="over-portion">
                    <strong>Portions:</strong> 
                    <%= menu.food_item.meal_info.portion_size %>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="prod-carted" style="display: <%= cart_menu[:quantity].to_i > 0 ? 'block' : 'none'%>">
            <h5 class="carted-text"><span><%= cart_menu[:quantity].to_i%></span> in your cart</h5>
          </div>
        <% end %>
      </li>
      <!--         <li class="recipe-about" style="display:none;">
          <%# if qty_left(menu) <= 0 %>
              <div class="recipe-header not-available colorItemFix ">
                <div class="recipe-name">
                  <%= menu.food_item.meal_info.name %>
                </div>
                <div class="add-heart"></div>
              </div>
          <%# elsif menu.food_item.meal_info.picture && menu.food_item.meal_info.picture.image? %>
              <div class="recipe-image append-cart" style="position: relative;">
                <div class="add-heart"></div>
                <%#= image_tag menu.food_item.meal_info.picture.image.url, :alt=>"#{menu.food_item.meal_info.name}", :class => "img-responsive center-block imageItemFix" %>
                <div class="opacitydivup">
                    <div class="opacitydiv-content">
                    <div class="o-item-descr roboto-b">Description:</div><%#= truncate(menu.food_item.meal_info.short_description, length: 250) %>
                    <div class="o-item-portion roboto-b">1 portion: <%#= menu.food_item.meal_info.portion_size %></div>
                    </div>
                </div>
                <%# if today_menu && today_menu.has_key?(menu[:id]) %>
                    <div class='add-cart'></div>
                <%# end %>
              </div>
          <%# else %>
              <div class="recipe-header <%=set_cooing_today_type(menu)%> append-cart colorItemFix opacityborder">
                <div class="add-heart"></div>
                <div class="recipe-name">
                  <%#= menu.food_item.meal_info.name %>
                </div>
                <div class="opacitydivup">
                <div class="o-item-descr roboto-b">Description:</div><%#= truncate(menu.food_item.meal_info.short_description, length: 250) %>
                <div class="o-item-portion roboto-b">1 portion: <%= menu.food_item.meal_info.portion_size %></div>
              </div>
                <%# if today_menu && today_menu.has_key?(menu[:id]) %>
                    <div class='add-cart'></div>
                <%# end %>
              </div>
          <%# end %>
        </li> -->
      <li class="recipe-tags hidden">
        <ul class="stock-value">
          <% if today_menu && today_menu.has_key?(menu[:id]) %>
            <li class="recipe-stock text-orange">
              <%= today_menu.fetch(menu[:id]) %> in cart
            </li>
          <% else %>
            <li class="recipe-stock">
              <%= qty_left(menu)>0 ? "#{qty_left(menu)} left" :  "SOLD OUT!" %>
            </li>
          <% end %>
          <li class="recipe-price">
            <%= qty_left(menu)>0 ? "#{menu.food_item.meal_info.hola_sell_price}/-" : "SORRY :(" %>
          </li>
        </ul>
      </li>
      <li class="item-data">
        <div class="container-fluid">
          <ul class="info-row">
            <li class="width-dp">
              <a href="/chef-profile/<%= menu.food_item.cheff_id %>">
                <%= image_tag chef_image(menu.food_item) %>
              </a>
            </li>
            <li class="width-dp-left">
              <ul class="n-dish-info">
                <li class="n-dish-title foodDesp">
                  <%= menu.food_item.meal_info.name %>
                </li>
                <li class="n-dish-spec">
                  <%= menu.food_item.meal_info.speciality_meal %>
                </li>
                <li class="n-chef-name">
                  <a href="/chef-profile/<%= menu.food_item.cheff_id %>">
                    <%= menu.food_item.cheff.name %>
                  </a>
                </li>
                <!-- <li class="n-dish-type"><%#= menu.food_item.dish_type.titleize %></li> -->
              </ul>
            </li>
            <li class="pull-right m_type_mark">
              <span>
                <img src="assets/<%= set_cooing_today_type(menu) %>.png" alt="Cart">
              </span>
            </li>
          </ul>
          <div class="row action-row">
            <div class="col-xs-3 col-hola-1">
              <p class="text-left n-item-cost rate">Rs. <%= cart_menu[:price] %></p>
            </div>
            <% if menu.meal_type != category %>
              <% menu.meal_type = category %>            
            <% end %>
            <% if menu.orderable?  %>
              <% if qty_left(menu).to_i != 0 %>            
                <div class="col-xs-9 col-hola-2">
                  <ul class="set-order">
                    <li class="order-less ctrl-btn pull-left">
                      <button type="button" class="decrease-order-item" data-available-quantity="<%= qty_left(menu).to_i %>">
                        <i class="fa fa-minus"></i>
                      </button>
                    </li>
                    <li class="order-count">
                      <input type="text" value="<%= cart_menu[:quantity].to_i %>" class="quantity" readonly>
                    </li>
                    <li class="order-more ctrl-btn pull-right">
                      <button type="button" class="increase-order-item" data-available-quantity="<%= qty_left(menu).to_i%>">
                        <i class="fa fa-plus"></i>
                      </button>
                    </li>
                  </ul>
                </div>
                <div class="col-xs-3 col-hola-3" style="display:none">
                  <a class="pull-right new-cart-icon update-cart" data-quantity="<%= cart_menu[:quantity].to_i %>" data-item_id="<%= menu.id %>" data-price="<%= cart_menu[:price] %>" data-category="<%= menu.category %>" data-dish-name="<%= menu.food_item.meal_info.name %>" data-meal-type="<%= category %>"><img src="assets/done-button.png" alt="Cart">
                  </a>
                </div>
              <% end %>
            <% end %>
          </div>
          <hr class="square-sep">
        </div>
      </li>
    </ul>
  </div>
<% end %>