
<div class="text-center show-time followMeBar" data-category="<%= category %> (<%= CookingToday.meal_type_time_span[category][:from] %> to <%= CookingToday.meal_type_time_span[category][:to] %>)" > </div>

<div class="category_header"> <%= category %> </div>
  <% menus.each do |menu| %>
    <% cart_menu = collect_cart_items(menu) if !menu.nil? %>
    <% target = qty_left(menu) > 0 ? "#item-modal" : "#" %>
    <div class="item item-content" id="<%=menu.id%>">
      <input type="hidden" class="menu_price" value="<%=cart_menu[:price] if cart_menu %>" />
      <input type="hidden" class="menu_qty" value="<%= cart_menu[:quantity] if cart_menu  %>" />
      <input type="hidden" id="menu_category_<%= menu.id %>" value="<%= menu.food_item.recipe.category  %>" />
      <input type="hidden" class="menu_max_qty" value="<%= qty_left(menu) %>"/>
      <input type="hidden" class="chef-profile-pic" value="<%= cart_menu[:cheff_image] if cart_menu  %>"/>
      <input type="hidden" class="chef-name" value="<%= cart_menu[:cheff_name] if cart_menu  %>"/>
      <input type="hidden" class="chef-id" value="<%= cart_menu[:cheff_id] if cart_menu  %>"/>
      <ul class="square">
        <li class="recipe-block <%=set_cooing_today_type(menu)%>">
          <% if qty_left(menu) <= 0 %>
              <div class="recipe-header not-available colorItemFix ">
                <div class="add-lens">
                  <p class="text-right"><%= qty_left(menu) > 0 ? "#{qty_left(menu).to_i - cart_menu[:quantity].to_i} left" :  "SOLD OUT!" %></p>
                </div>
                <div class="recipe-name">
                  <%= menu.food_item.meal_info.name %>
                </div>
                <div class="add-heart"></div>
              </div>
          <% elsif menu.food_item.meal_info.picture && menu.food_item.meal_info.picture.image? %>
              <div class="recipe-image append-cart">
                <div class="add-lens">
                  <p class="text-right"><%= qty_left(menu) > 0 ? "#{qty_left(menu).to_i - cart_menu[:quantity].to_i} left" :  "SOLD OUT!" %></p>
                </div>
                <div class="add-heart"></div>
                <%= image_tag menu.food_item.meal_info.picture.image.url, :alt=>"#{menu.food_item.meal_info.name}", :class => "img-responsive center-block imageItemFix" %>
                  <div class='add-cart <%= add_cart_view(today_menu,menu)%>'></div>
              </div>
          <% else %>
              <div class="recipe-header <%=set_cooing_today_type(menu)%> append-cart colorItemFix about-content">
              
                <div class="add-lens">
                  <p class="text-right"><%= qty_left(menu) > 0 ? "#{qty_left(menu).to_i - cart_menu[:quantity].to_i} left" :  "SOLD OUT!" %></p>
                </div>
                <div class="add-heart"></div>
                <div class="recipe-name">
                  <%= menu.food_item.meal_info.name %>
                </div>
                <div class='add-cart <%= add_cart_view(today_menu,menu)%>'></div>
              </div>
          <% end %>
        </li>

        <li class="recipe-about" style="display:none;">
          <% if qty_left(menu) <= 0 %>
              <div class="recipe-header not-available colorItemFix ">
                <div class="add-lens"></div>
                <div class="recipe-name">
                  <%= menu.food_item.meal_info.name %>
                </div>
                <div class="add-heart"></div>
              </div>
          <% elsif menu.food_item.meal_info.picture && menu.food_item.meal_info.picture.image? %>
              <div class="recipe-image append-cart" style="position: relative;">
                <div class="add-lens"></div>
                <div class="add-heart"></div>
                <%= image_tag menu.food_item.meal_info.picture.image.url, :alt=>"#{menu.food_item.meal_info.name}", :class => "img-responsive center-block imageItemFix opacityimg" %>
                <div class="opacitydivup">
                <span class="bold-text">Description:</span> <br/><%= menu.food_item.meal_info.short_description %><br/><br/>
                <span class="bold-text">1 portion:</span> <%= menu.food_item.meal_info.portion_size %>
              </div>
                <% if today_menu && today_menu.has_key?(menu[:id]) %>
                    <div class='add-cart'></div>
                <% end %>
              </div>
          <% else %>
              <div class="recipe-header <%=set_cooing_today_type(menu)%> append-cart colorItemFix opacityborder">
                <div class="add-lens"></div>
                <div class="add-heart"></div>
                <div class="recipe-name">
                  <%= menu.food_item.meal_info.name %>
                </div>
                <div class="opacitydivup">
                <span class="bold-text">Description:</span> <br/><%= menu.food_item.meal_info.short_description %><br/><br/>
                <span class="bold-text">1 portion:</span> <%= menu.food_item.meal_info.portion_size %>
              </div>
                <% if today_menu && today_menu.has_key?(menu[:id]) %>
                    <div class='add-cart'></div>
                <% end %>
              </div>
          <% end %>
        </li>


        <li class="recipe-tags hidden">
          <ul class="stock-value">
            <% if today_menu && today_menu.has_key?(menu[:id]) %>
                <li class="recipe-stock text-orange"><%= today_menu.fetch(menu[:id]) %> in cart</li>
            <% else %>
                <li class="recipe-stock"><%= qty_left(menu)>0 ? "#{qty_left(menu)} left" :  "SOLD OUT!" %></li>
            <% end %>
            <li class="recipe-price"><%= qty_left(menu)>0 ? "#{menu.food_item.meal_info.hola_sell_price}/-" : "SORRY :(" %></li>
          </ul>
        </li>
        <li class="item-data">
          <div class="container-fluid">
            <ul class="info-row">
            <li class="width-dp">
              <a href="/chef-profile/<%= menu.food_item.cheff_id %>"><%= image_tag chef_image(menu.food_item) %></a>
            </li>
            <li class="width-dp-left">
              <ul class="n-dish-info">
               <li class="n-dish-title"><%= menu.food_item.meal_info.name %></li>
               <li class="n-chef-name"><a href="/chef-profile/<%= menu.food_item.cheff_id %>"><%= menu.food_item.cheff.name %></a></li>
               <li class="n-dish-type"><%= menu.food_item.dish_type.titleize %></li>
              </ul>
            </li>
          </ul>
          <div class="row action-row">
            <div class="col-xs-3">
              <p class="text-left n-item-cost">Rs. <%= cart_menu[:price] %></p>
            </div>
            <% if menu.orderable? %>
              <div class="col-xs-6">
                  <ul class="set-order">
                    <li class="order-less ctrl-btn pull-left"><button type="button" class="decrease-order-item" data-available-quantity="<%= qty_left(menu).to_i %>">-</button></li>
                    <li class="order-count"><input type="text" value="<%= cart_menu[:quantity].to_i == 0 ? 1 : cart_menu[:quantity].to_i %>" class="quantity" readonly></li>
                    <li class="order-more ctrl-btn pull-right"><button type="button" class="increase-order-item" data-available-quantity="<%= qty_left(menu).to_i%>">+</button></li>
                  </ul>
              </div>
              <div class="col-xs-3">
                <a class="pull-right new-cart-icon update-cart" data-quantity="<%= cart_menu[:quantity].to_i == 0 ? 1 : cart_menu[:quantity].to_i %>" data-item_id="<%= menu.id %>" data-price="<%= cart_menu[:price] %>" data-category="<%= menu.category %>" data-dish-name="<%= menu.food_item.meal_info.name %>"><img src="assets/icon-cart.png" style="width:24px" alt="Cart"></a>
              </div>
            <% end %>
          </div>

          </div>
      </li>
      </ul>
    </div>


<% end %>
