<div class="container">
  <div class="row">
    <div class="col-xs-12 paddingLR0">
      <div id="hola-containerx">
        <% today_menu = collect_items(session[:cart]) if !session[:cart].nil? %>
        <% if flash[:notice] %>
          <div class="alert alert-success" role="alert">
            <%= flash[:notice] %>
          </div>
        <% end %>
        <% if flash[:error] %>
          <div class="alert alert-danger" role="alert">
            <%= flash[:notice] %>
          </div>
        <% end %>
        <%# if @todays_menu %>
        <ul class="nav nav-tabs nav-justified layout-tabbed">
        <% @todays_menu_by_meal_type.each do |meal_type, meals_available| %>
          <%# next unless meal_available? (meal_type) %>
          <%# meals_available = CookingToday.todays_menu_by_type(meal_type) %>
          <% if meal_type != 'All Time' %>
            <li id= "li_<%= meal_type %>" class= "<%= (current_live_meal == meal_type) ? 'active' : '' %>">
              <a href="#<%= meal_type %>" data-toggle="tabs">
                <div class="text-center show-time followMeBar" data-category="<%= meal_type %> <span class='time-block'> (<%= CookingToday.meal_type_time_span[meal_type][:fromDisplay] %> to <%= CookingToday.meal_type_time_span[meal_type][:toDisplay] %>)</span>" > 
                </div>
                <div class="category_header"> <%= meal_type %> </div>
                <div class="category_header2">( <%= CookingToday.meal_type_time_span[meal_type][:fromDisplay] %> - <%= CookingToday.meal_type_time_span[meal_type][:toDisplay] %> )
                </div>
              </a>
            </li>
          <% end %>  
        <% end %>
        </ul>
        <div class="tab-content">
          <% @todays_menu_by_meal_type.each do |meal_type, meals_available| %>
            <%# next unless meal_available? (meal_type) %>
            <div class="tab-pane <%= current_live_meal == meal_type ? "active" :"" %>" id="<%= meal_type %>">
              <% if Date.today.sunday? and meal_type == "Dinner" %>
                <%= render template: "home/sunday" %>
              <% else %>
                <%# meals_available = CookingToday.todays_menu_by_type(meal_type) %>
                <%= render "meal_items", menus: meals_available, category: meal_type, today_menu: today_menu unless meals_available.blank? %>
              <% end %>
            </div>
           <% end%>
          </div>
    <%# end %>

    </div>
    <input type="hidden" id="total_price" value= <%= calculate_total_price() %> />
    <div id="recipe-modal">
      <div class="modal fade bs-example-modal-sm" id="item-modal" tabindex="-1" data-backdrop="static">
        <input type="hidden" id="selected_item" value="" />
        <input type="hidden" id="total_price" value="0" />

        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button data-dismiss="modal" class="btn-close pull-right">x</button>

            </div>
            <div class="modal-body"> <!-- below content changes from jquery -->
              <i class="modal-loading fa fa-spinner fa-spin"></i>
              <p class="form-control looks-input hidden" id="order-count">0</p>
            </div>
            <div class="modal-footer modal-form">

            </div>

          </div>
        </div>
      </div>
    </div> <!-- modal ends -->
  </div>
</div>
</div>

<%= content_for :bottom_content do %>
<script type="text/javascript" src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $(".layout-tabbed").click(function(e){
        e.preventDefault();
      })
    })
  </script>
<% end %>
<!-- hola modals -->