<li class="del-d roboto">
  <input value="<%= @adds.name %>" class="lower-only active validate[required]" name="orders[name]" type="text" placeholder="Name" id="u-name" maxlength="50" data-prompt-position="topLeft:105">
</li>

<li class="del-d roboto">
  <input value="<%= @adds.mobile_no %>" class="lower-only validate[required,custom[integer],maxSize[13], minSize[10]]" name="orders[mobile_no]" type="tel" placeholder="Mobile No  e.g 09876543210" id="u-contact" maxlength="13" data-prompt-position="topLeft:105">
</li>

<li class="del-d roboto">
  <input value="<%= @adds.landline_no %>" class="lower-only validate[custom[integer],maxSize[11], minSize[8]]" name="orders[landline_no]" type="tel" placeholder="Landline No" id="u-landline" maxlength="11" data-prompt-position="topLeft:105">
</li>

<li class="del-d roboto">
  <input value="<%= @adds.building_name %>" class="lower-only validate[required]" name="orders[building_name]" type="text" placeholder="Building Name" id="u-building-name" maxlength="50" data-prompt-position="topLeft:105">
</li>

<li class="del-d roboto">
  <input value="<%= @adds.street %>" class="lower-only validate[required]" name="orders[street]" type="text" placeholder="Street" id="u-street" maxlength="50" data-prompt-position="topLeft:105">
</li>

<li class="del-d roboto">
  <input value="<%= @adds.city %>" class="lower-only validate[required]" name="orders[city]" type="text" placeholder="City" id="u-city" maxlength="50" data-prompt-position="topLeft:105">
</li>

<li class="del-d roboto">
  <input value="<%= @adds.pin %>" class="lower-only validate[required,custom[integer],maxSize[6], minSize[6]]" name="orders[pin]" type="text" placeholder="Pin" id="u-pin" maxlength="6" data-prompt-position="topLeft:105">
</li>

<li class="del-d roboto">
  <input value="<%= @adds.landmark %>" class="lower-only" name="orders[landmark]" type="text" placeholder="Landmark" id="u-landmark" maxlength="50" data-prompt-position="topLeft:105">
</li>
