<ul class="order-timing">
  <li class="time-zone">
    <span class="order-when">Today </span>
    <span class="order-what open-bracket close-bracket"><%= meal_type %></span>
  </li>
  <li class="time-set open-bracket close-bracket">
    <%= CookingToday.meal_type_time_span["#{meal_type}"][:fromDisplay] %> - 
    <%= CookingToday.meal_type_time_span["#{meal_type}"][:toDisplay] %>
  </li>

  <% slot_1_active_time = Time.local(Time.now.year, Time.now.month, Time.now.day, TIME[slot_1.last(4)]) - 15 * 60 %>

  <% slot_2_active_time = Time.local(Time.now.year, Time.now.month, Time.now.day, TIME[slot_2.last(4)]) - 15 * 60 %>

  <% slot_3_active_time = Time.local(Time.now.year, Time.now.month, Time.now.day, TIME[slot_3.last(4)]) - 15 * 60 %>

  <% current_time_hour = Time.now.hour
    if ( current_time_hour <= TIME[slot_1.first(4)] ) %>
      <li class="time-slots">
        <% if slot_1_active == 'true' && slot_1_active_time > Time.now %>
          <span class="o-time" data-meal_type="<%= meal_type.downcase.gsub(' ', '_') %>_slot">
            <%= slot_1 %>
          </span>
        <% end %>
        <% if slot_2_active  == 'true' && slot_2_active_time > Time.now %>  
          <span class="o-time" data-meal_type="<%= meal_type.downcase.gsub(' ', '_') %>_slot">
            <%= slot_2 %>
          </span>
        <% end %>
        <% if slot_3_active == 'true' && slot_3_active_time > Time.now %>
          <span class="o-time" data-meal_type="<%= meal_type.downcase.gsub(' ', '_') %>_slot">
            <%= slot_3 %>
          </span>
        <% end %>  
      </li>        
    <% elsif ( current_time_hour <= TIME[slot_2.first(4)] ) %>
      <li class="time-slots">
        <% if slot_2_active == 'true' && slot_2_active_time > Time.now %>
          <span class="o-time" data-meal_type="<%= meal_type.downcase.gsub(' ', '_') %>_slot">
            <%= slot_2 %> 
          </span>
        <% end %>  
        <% if slot_3_active == 'true' && slot_3_active_time > Time.now %>
          <span class="o-time" data-meal_type="<%= meal_type.downcase.gsub(' ', '_') %>_slot">
            <%= slot_3 %>
          </span>
        <% end %>  
      </li>
    <% elsif (current_time_hour <= TIME[slot_3.first(4)]) %>
      <% if slot_3_active == 'true' && slot_3_active_time > Time.now %>
        <li class="time-slots">
          <span class="o-time" data-meal_type="<%= meal_type.downcase.gsub(' ', '_') %>_slot">
            <%= slot_3 %>
          </span>
        </li>      
      <% end %>
    <% else %>
      <% if meal_type == "Lunch" and current_time_hour >= 15 %> 
        <li class="time-slots">
          <span class="o-time" data-meal_type="lunch_slot">
            3PM - 4PM
          </span>
        </li> 
      <% elsif meal_type == "Dinner" and current_time_hour >= 23 %> 
        <li class="time-slots">
          <span class="o-time" data-meal_type="dinner_slot">
            11PM - 12AM
          </span>
        </li> 
      <% end %>
    <% end %> 
  </ul>
  <%= hidden_field_tag "#{meal_type.downcase.gsub(' ', '_')}_slot", "" %>
<div class="row">
  <div class="col-xs-12">
    <div class="container">
      <ul class="booked-orders ordered_ul">
        <% items.each do |todays_item| %>
          <% todays_item.each do |order_id, order_attrs| %>
            <%= hidden_field_tag "#{meal_type.downcase.gsub(' ', '_')}_slot", "#{meal_type}_slot" %>
            <li class="food-bill review_order_list item_<%= order_id %>" id="<%= order_id %>">
              <input type="hidden" id="menu_category_<%= order_id %>" value="<%= order_attrs['category']  %>" />
              <span class="item-name" data-toggle="modal" data-target="#item-modal" data-quantity="<%= order_attrs['quantity'] %>" style="cursor: pointer;" id="<%= order_id %>">
                <%= order_attrs['dish_name'] %>
              </span>
              <span class="item-edit" style="cursor: pointer;">
                <i class="fa fa-pencil"></i>
              </span>
              <span class="item-qty"><%= order_attrs['quantity'] %></span>
              <span class="item-cost"><%= order_attrs['quantity'].to_i * order_attrs['price'].to_i %></span>
              <span class="item-remove">
                 <a href="#" data-item="<%= order_id %>"><i class="fa fa-times"></i></a>
              </span>
              <% total << order_attrs['quantity'].to_i * order_attrs['price'].to_i %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
