<div class="container-fluid back-white seperator-b10 nopadding">
  <ul class="order-timing">
    <li class="time-zone"><span class="order-when">Today</span><span class="order-what open-bracket close-bracket"><%= meal_type %></span></li>
    <li class="time-set open-bracket close-bracket"><%= CookingToday.meal_type_time_span["#{meal_type}"][:from] %> - <%= CookingToday.meal_type_time_span["#{meal_type}"][:to] %></li>
    <li class="time-slots"><span class="o-time selected"><%= slot_1 %></span><span class="o-time"><%= slot_2 %></span><span class="o-time"><%= slot_3 %></span><span class="o-time"><%= slot_4 %></span></li>
  </ul>
</div> <!-- container-fluid ends -->
<div class="row">
  <div class="col-xs-12">
    <div class="container">
      <ul class="booked-orders">
        <% items.each do |todays_item| %>
          <% todays_item.each do |order_id, order_attrs| %>
            <li class="food-bill review_order_list" id="<%= order_id %>">
              <input type="hidden" id="menu_category_<%= order_id %>" value="<%= order_attrs['category']  %>" />
              <span class="item-name" data-toggle="modal" data-target="#item-modal" data-quantity="<%= order_attrs['quantity'] %>" style="cursor: pointer;" id="<%= order_id %>">
                <%= order_attrs['dish_name'] %>
              </span>
              <span class="item-edit" style="cursor: pointer;">
                <i class="fa fa-edit"></i>
              </span>
              <span class="item-qty"><%= order_attrs['quantity'] %></span>
              <span class="item-cost"><%= order_attrs['quantity'].to_i * order_attrs['price'].to_i %></span>
              <span class="item-remove">
                 <a href="#" data-item="<%= order_id %>"><i class="fa fa-times-circle"></i></a>
              </span>
              <% total << order_attrs['quantity'].to_i * order_attrs['price'].to_i %>
            </li>
          <% end %>
        <% end %>
        <li class="food-bill">
          <span class="item-name">&nbsp;</span>
          <span class="item-qty">Total</span>
          <span class="item-cost" id="review_order_total"><%= total.inject(:+) %></span>
        </li>
      </ul>
    </div>
  </div>
</div>
