<div class="right-body">
  <div class="container-fluid back-white seperator-b10 nopadding">
    <ul class="booked-orders heading">
      <li class="food-bill" style="border:0">
        <span class="item-name ItemHead">MEAL</span>
        <span class="item-qty ItemHead">QTY</span>
        <span class="item-cost ItemHead">COST</span>
        <span class="item-remove">&nbsp;</span>
      </li>
    </ul>
  </div>
  <% total = [] %>
  <% lunch_items = (session[:cart].collect {|item| item if item.values.first.values_at("meal_type") == ["Lunch"]}).compact %>
  <%= render "checkout_items", meal_type: "Lunch", items: lunch_items, slot_1: "11AM - 12PM", slot_2: "12PM - 1PM", slot_3: "1PM - 2PM", slot_4: "2PM - 3PM", total: total, default_slot: "12PM - 1PM"  if lunch_items.present? %>

  <% snack_items = (session[:cart].collect {|item| item if item.values.first.values_at("meal_type") == ["Evening Snacks"]}).compact %>
  <%= render "checkout_items", meal_type: "Evening Snacks", items: snack_items, slot_1: "3PM - 4PM", slot_2: "4PM - 5PM", slot_3: "5PM - 6PM", slot_4: "6PM - 7PM", total: total, default_slot: "3PM - 4PM"  if snack_items.present? %>

  <% dinner_items = (session[:cart].collect {|item| item if item.values.first.values_at("meal_type") == ["Dinner"]}).compact %>
  <%= render "checkout_items", meal_type: "Dinner", items: dinner_items, slot_1: "7PM - 8PM", slot_2: "8PM - 9PM", slot_3: "9PM - 10PM", slot_4: "10PM - 11PM", total: total, default_slot: "7PM - 8PM"  if dinner_items.present? %>

  <%# all_time_items = (session[:cart].collect {|item| item if item.values.first.values_at("meal_type") == ["All Time Available"]}).compact %>
  <%#= render "checkout_items", meal_type: "All Time Available", items: all_time_items, slot_1: "", slot_2: "", slot_3: "", slot_4: "", total: total  if all_time_items.present? %>


<ul class="booked-orders backgroundLight">
<li class="food-bill">
<span class="item-name item-nameP">&nbsp;</span>
<span class="item-qty item-qtyP text-total">Total</span> <%#=total%>
<span class="item-cost text-total1" id="review_order_total"><%= total.inject(:+) %></span>
</li>
</ul>


<ul class="booked-orders backgroundLight2 top-Space discountEditBox">
<li class="food-bill">
  <div id ="coupon_validate_msg"></div>
  <%= text_field_tag "discount_code",nil, placeholder: "Enter new coupon code (if any)",  class: "discountCoupon" %>
  <%= submit_tag "Apply", id: "check_coupon", class: "btn btn-saffron discountCouponBtn"  %>
</li>
</ul>
<%
discountC = 0;
discountAmt = 0;

if total.inject(:+) == session[:paidAmount] 
discountC = session[:discountAmount];
discountAmt = session[:netAmount];

else 
session.delete(:paidAmount);
session.delete(:discountAmount);
session.delete(:netAmount);

session[:cart].each do |cart_item|
  cart_item.each do |key, value|
    value["discount_amount"] = 0
    value["coupon_id"]= ""
  end
end

discountAmt = total.inject(:+);
end
%>
<ul class="booked-orders backgroundLight1 opaK top-Space " >
<li class="food-bill">
<span class="item-name item-nameP">&nbsp;</span>
<span class="item-qty item-qtyP text-total">Discounted Amount</span>
<span class="item-cost discount_span" id="review_order_total"><%= discountC %></span>
<span class="item-edit discountEdit" style="cursor: pointer;"></span>
</li>
</ul>
<ul class="booked-orders backgroundLight1 top-Space">
<li class="food-bill">
<span class="item-name item-nameP">&nbsp;</span>
<span class="item-qty item-qtyP text-total opaK">Total Amount to be Paid</span>
<span class="item-cost text-total text-bold total_amount" id="review_order_total"><%= discountAmt %></span>
</li>
</ul>

</div> <!-- right-body div ends -->


<div id="recipe-modal">
  <div class="modal fade" id="item-modal" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button data-dismiss="modal" class="btn-close pull-right">x</button>
        </div>
        <div class="modal-body"> <!-- below content changes from jquery -->
          <i class="modal-loading fa fa-spinner fa-spin"></i>
          <p class="form-control looks-input hidden" id="order-count">0</p>
        </div>
        <div class="modal-footer modal-form">
        </div>

      </div>
    </div>
  </div>
<div class="modal fade bs-example-modal-sm" data-backdrop="false" id="remove_dish" tabindex="-1">
  <div class="modal-dialog modal-sm modal-alert">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" class="btn-close pull-right">x</button>
        <%= image_tag ('/assets/hola-logo-xs.png'), :id => 'review_page_modal_logo' %>
      </div>
      <div class="modal-body">
        Dish removed successfully!
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-sm" data-backdrop="false" id="holaAlert" tabindex="-1">
  <div class="modal-dialog modal-sm modal-alert">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" class="btn-close pull-right">x</button>
        <%= image_tag ('/assets/hola-logo-xs.png'), :id => 'review_page_modal_logo' %>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-sm" id="remove_last_dish" tabindex="-1" data-backdrop="false" >
  <div class="modal-dialog modal-sm modal-alert">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" class="btn-close pull-right">x</button>
        <%= image_tag ('/assets/hola-logo-xs.png'), :id => 'review_page_modal_logo' %>
      </div>
      <div class="modal-body">
        Dish removed successfully! There is no item in cart.
      </div>
    </div>
  </div>
</div>
</div> <!-- modal ends -->

<% if !session[:cart].blank? %>
<!--
     <% remaining_categories = get_remaining_category(@categories) %>
        <% remaining_categories.each do |remaining_categories| %>
            <div class="container-fluid back-white seperator-3">
              <div class="container">
                <div class="row">
                  <div class="col-xs-12">
                    <ul class="show-promo">
                      <li class="promo">Just this, no <%= remaining_categories %>?
                                <span class="add-promo">
                                    <a href="/add-dishes?category=<%= remaining_categories %>">Add now</a>
                                </span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
-->
<% end %>


<% if false %>
<div class="container-fluid back-white seperator-4">
  <div class="row">
    <div class="col-xs-12">
      <div class="container">
        <ul class="del-details">
          <li class="del-d del-header roboto">Delivery Details</li>
          <li class="del-d del-warning roboto">Orders are delivered in ~30min of placing order</li>
          <%# hola_user = get_user_details %>
          <%= form_tag "/payment-method", :method => "POST", :name => "orders", :id => "submit_order" do %>
              <% if @adds_types.present? %>
                <li class="del-d roboto"><%= select_tag "orders[address_type]", options_for_select(@adds_types, @adds.address_type), :class => "width100P" %></li>
              <% end %>
              <div id="adds_fields">
                <%= render :partial => "address_fields", :locals => {:adds => @adds} %>
              </div>

              <li class="del-d check-mark roboto text-center hola-ccbox">
                <% if @hola_user.present? %>
                  <%= hidden_field_tag "hola_user_id", @hola_user.id %>
                <% end %>
                <input class="css-checkbox" type="checkbox" id="save-del-details" checked="checked" name="save_user_details">
                <label class="css-label roboto" for="save-del-details">Save my details</label></li>
          <% end -%>
        </ul>

      </div>

    </div>
  </div>
</div> <!-- fluid container ends -->
<% end %>
<!-- <div class="floral-block"></div> -->
</div><!-- #wrap ends -->

<%= javascript_include_tag "jquery-1.11.0.min" %>
<% content_for :review_order_footer do %>
    <%#= render :partial => "/layouts/review_order_footer" %>
    <div id="footer" class="footer">
      <div class='container'>
        <div class='row'>
          <div class='col-xs-12'>
            <div class='tap-text'>
              <p class='text-center' id="select_payment">
                <a class='text-orange' id='submit-order-button1' href='#'>CHECKOUT</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $("#submit-order-button1").click(function(){
        var errorDisplay = false;
        if($("#lunch_slot").length > 0 && $("#lunch_slot").val() == "") {
          errorDisplay = true;
        }
        else if($("#evening_snacks_slot").length > 0 && $("#evening_snacks_slot").val() == "") {
           errorDisplay = true;
        }
        else if($("#dinner_slot").length > 0 && $("#dinner_slot").val() == "") {
           errorDisplay = true;
        }
        else {}

        if(errorDisplay == true){
          $("#holaAlert .modal-body").html('Please select the delivery time.');
          $("#holaAlert").modal('show');
        }
        else
        window.location = "/add-address?lt="+$("#lunch_slot").val()+"&et="+$("#evening_snacks_slot").val()+"&dt="+$("#dinner_slot").val()+"&cc="+$("#discount_code").val()
      });

      if($("#discount_code").val()==""){
          $(".discount_span").html(0);
          $(".total_amount").html($(".text-total1").html());
      }
       $("#check_coupon").click(function(){
           if($("#review_order_total").text()==""){
                alert("There is no item in cart.Please add item");
           }
           if($("#discount_code").val()==""){
               $("#coupon_validate_msg").html("Please Enter the coupon code")
           }
           else{
               var coupon_code = $("#discount_code").val();
               var total_amt = $("#review_order_total").text();
               $.ajax({
                   url: "/check_coupon",
                   data: {coupon_code: coupon_code, total_amount: total_amt }
               });
           }

       })
    </script>
<% end %>