<div class="container-fluid back-white">
  <div class="row">
    <div class="col-xs-12">
      <div class="container">
        <ul class="booked-orders">
          <li class="food-bill">
            <span class="item-name">Meal</span>
            <span class="item-qty">Qty</span>
            <span class="item-cost">Cost</span>
            <span class="item-remove">&nbsp;</span>
          </li>
          <% total = [] %>
          <% if session[:cart] %>
              <% session[:cart].each do |todays_item| %>
                  <% todays_item.each do |order_id, order_attrs| %>
                      <li class="food-bill review_order_list" id="<%= order_id %>">
                        <span class="item-name" data-toggle="modal" data-target="#item-modal" data-quantity="<%= order_attrs['quantity'] %>" style="cursor: pointer;" id="<%= order_id %>">
                          <%= order_attrs['dish_name'] %>
                        </span>
                        <span class="item-qty"><%= order_attrs['quantity'] %></span>
                        <span class="item-cost"><%= order_attrs['quantity'].to_i * order_attrs['price'].to_i %></span>
                        <span class="item-remove">
                           <a href="#" data-item="<%= order_id %>"><i class="fa fa-times-circle"></i></a>
                        </span>
                        <% total << order_attrs['quantity'].to_i * order_attrs['price'].to_i %>

                      </li>
                  <% end %>
              <% end %>
          <% end %>
          <li class="food-bill">
            <span class="item-name">&nbsp;</span>
            <span class="item-qty">Total</span>
            <span class="item-cost" id="review_order_total"><%= total.inject(:+) %></span>
          </li>
        </ul>

      </div>
      <div id="recipe-modal">
        <div class="modal fade bs-example-modal-sm" id="item-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button data-dismiss="modal" class="btn-close pull-right">x</button>
              </div>
              <div class="modal-body"> <!-- below content changes from jquery -->
                <i class="modal-loading fa fa-spinner fa-spin"></i>
                <p class="form-control looks-input hidden" id="order-count">0</p>
              </div>
              <div class="modal-footer modal-form">
              </div>

            </div>
          </div>
        </div>
      </div> <!-- modal ends -->
    </div>
  </div>
</div> <!-- fluid container ends -->

<div class="modal fade bs-example-modal-sm" id="remove_dish" tabindex="-1">
  <div class="modal-dialog modal-sm modal-alert">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" class="btn-close pull-right">x</button>
        <%= image_tag ('/assets/hola-logo-xs.png'), :id => 'review_page_modal_logo' %>
      </div>
      <div class="modal-body">
        Dish removed successfully!
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-sm" id="remove_last_dish" tabindex="-1">
  <div class="modal-dialog modal-sm modal-alert">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" class="btn-close pull-right">x</button>
        <%= image_tag ('/assets/hola-logo-xs.png'), :id => 'review_page_modal_logo' %>
      </div>
      <div class="modal-body">
        Dish removed successfully! There is no item in cart.
      </div>
    </div>
  </div>
</div>

<div class="container-fluid back-white seperator-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="show-promo">
          <li class="promo">Just Mains, no sides?<span class="add-promo"><a href="#">Add now</a></span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid back-white seperator-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="show-promo">
          <li class="promo">What? No Dessert!<span class="add-promo"><a href="#">Add now</a></span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid back-white seperator-10">
  <div class="row">
    <div class="col-xs-12">
      <div class="container">

        <ul class="del-details">
          <li class="del-d del-header roboto">Delivery Details</li>
          <li class="del-d del-warning roboto">Orders are delivered in ~30min of placing order</li>
          <%= form_tag "/payment-method", :method => "POST", :name => "orders", :id => "submit_order" do %>
              <li class="del-d roboto"><input class="lower-only active" name="orders[name]" type="text" placeholder="Name" id="u-name" maxlength="50"></li>
              <li class="del-d roboto"><input class="lower-only" name="orders[phone_no]" type="tel" placeholder="Phone Number" id="u-contact" maxlength="10"></li>
              <li class="del-d roboto"><input class="lower-only" name="orders[address]" type="text" placeholder="Address" id="u-address" maxlength="250"></li>
              <li class="del-d check-mark roboto text-center">
                <input class="css-checkbox" type="checkbox" id="save-del-details" checked="checked">
                <label class="css-label roboto" for="save-del-details">Save my details</label></li>
          <% end -%>
        </ul>

      </div>

    </div>
  </div>
</div> <!-- fluid container ends -->
<div class="floral-block"></div>
</div><!-- #wrap ends -->

<%= javascript_include_tag "jquery-1.11.0.min" %>
<% content_for :review_order_footer do %>
    <%= render :partial => "/layouts/review_order_footer" %>
<% end %>