<div class="fields text_fields">
  <%= f.label :classification %>
  <%= f.text_field :classification %> <br/>
</div>
<div class="fields text_fields">
  <%= f.label :about_me %>
  <%= f.text_area :about_me, :cols => 65, :rows => 6 %> <br/>
</div>
<div class="fields text_fields">
  <%= f.label :why_i_love_cooking %>
  <%= f.text_area :why_i_love_cooking, :cols => 65, :rows => 6 %>
</div>
<div class="fields text_fields">
  <%= f.label :people_places_that_inspire_my_food %>
  <%= f.text_area :people_places_that_inspire_my_food, :cols => 65, :rows => 6 %>
</div>
<div class="fields text_fields">
  <%= f.label :best_compliment %>
  <%= f.text_area :best_compliment, :cols => 65, :rows => 6 %>
</div>
<div class="fields text_fields">
  <%= f.label :why_do_i_want_to_join_hola %>
  <%= f.text_area :why_do_i_want_to_join_hola, :cols => 65, :rows => 6 %>
</div>
<div class="fields text_fields">
  <%= f.label :facebook_handle %>
  <%= f.text_field :facebook_handle %>
</div>
<div class="fields text_fields">
  <%= f.label :twitter_handle %>
  <%= f.text_field :twitter_handle %>
</div>
<div class="fields text_fields">
  <%= f.label :banners %>
  <%= f.text_area :banners, :cols => 65, :rows => 6 %>
</div>
<div class="fields text_fields">
  <%= f.label :brand_represented %>
  <%= f.text_area :brand_represented, :cols => 65, :rows => 6 %>
</div>
<div class="fields text_fields">
  <%= f.label :brand_info %>
  <%= f.text_area :brand_info, :cols => 65, :rows => 6 %>
</div>
<div class="fields text_fields">
  <%= f.label :brand_banner %>
  <%= f.text_area :brand_banner, :cols => 65, :rows => 6 %>
</div>
