<div class="fields text_fields">
  <%= f.label :name %>
  <%= f.text_field :name %> <br/>
</div>
<div class="fields text_fields">
  <%= f.label :address_line_1 %>
  <%= f.text_field :address_line_1 %>
</div>
<div class="fields text_fields">
  <%= f.label :address_line_2 %>
  <%= f.text_field :address_line_2 %>
</div>
<div class="fields text_fields">
  <%= f.label :locality %>
  <%= f.text_field :locality %>
</div>
<div class="fields text_fields">
  <%= f.label :landmark %>
  <%= f.text_field :landmark %>
</div>
<div class="fields text_fields">
  <%= f.label :city %>
  <%= f.text_field :city %>
</div>
<div class="fields text_fields">
  <%= f.label :zip %>
  <%= f.text_field :zip %>
</div>
<div class="fields text_fields">
  <%= f.label :longitude %>
  <%= f.text_field :longitude %>
</div>
<div class="fields text_fields">
  <%= f.label :latitude %>
  <%= f.text_field :latitude %>
</div>
<div class="fields text_fields">
  <%= f.label :contact_mobile %>
  <%= f.text_field :contact_mobile %>
</div>
<div class="fields text_fields">
  <%= f.label :contact_landline %>
  <%= f.text_field :contact_landline %>
</div>
<div class="fields text_fields">
  <%= f.label :contact_email %>
  <%= f.text_field :contact_email %>
</div>