<div class="hola-container">
  <% @recipes.each do |food_item| %>
      <div class="item" data-toggle="modal" data-target="#">
        <ul class="square">
          <li class="recipe-block <%=set_menu_type(food_item)%>">
            <% if !food_item.meal_info.picture.blank? %>
                <div class="recipe-image append-cart">
                  <div class="add-lens"></div>
                  <div class="add-heart"></div>
                  <%= image_tag food_item.meal_info.picture.image.url, :alt=>"#{food_item.meal_info.name}", :class => "img-responsive center-block" %>
                </div>
            <% else %>
                <div class="recipe-header <%=set_menu_type(food_item)%> append-cart">
                  <div class="add-lens"></div>
                  <div class="recipe-name">
                    <%= food_item.meal_info.name %>
                  </div>
                  <div class="add-heart"></div>
                </div>
            <% end %>
          </li>
          <li class="recipe-title"><%= food_item.meal_info.name %></li>
          <li class="recipe-tags">
            <ul class="stock-value">
              <li class="recipe-stock hidden"><span class="stock-count">10</span> left</li>
              <li class="recipe-price"><%= link_to "View", "/recipe/#{food_item.id}" %></li>
            </ul>
          </li>
        </ul>
      </div>
  <% end %>
</div>