<div class="hola-container">
  <% if @signature_dishes %>
      <% @signature_dishes.each do |dish| %>
          <div class="item" data-toggle="modal" data-target="#">
            <ul class="square" onclick="window.location='/signature/<%=dish.name%>'">
              <li class="recipe-block <%=set_menu_type(dish)%>">
                <% if !dish.picture.blank? %>
                    <div class="recipe-image append-cart">
                      <div class="add-lens"></div>
                      <div class="add-heart"></div>
                      <%= image_tag dish.picture.image.url, :alt=>"#{dish.name}", :class => "img-responsive center-block" %>
                    </div>
                <% else %>
                    <div class="recipe-header <%=set_menu_type(dish)%> append-cart">
                      <div class="add-lens"></div>
                      <div class="recipe-name">
                        <%= dish.name %>
                      </div>
                      <div class="add-heart"></div>
                    </div>
                <% end %>
              </li>
              <li class="recipe-title hidden"></li>
              <li class="recipe-tags">
                <ul class="stock-value">
                  <li class="recipe-stock hidden"><span class="stock-count">10</span> left</li>
                  <li class="recipe-price"><%= link_to "Order","/signature/#{dish.name}" %></li>
                </ul>
              </li>

            </ul>
          </div>
      <% end %>
  <% end %>
</div>