<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div class="chef-detail-content seperator-15">
        <div class="row">
          <div class="col-sm-4 col-md-5">
            <div class="row">
              <div class="chef-img-container">
                <%if !@chef.picture.blank?%>
                    <%= image_tag @chef.picture.image.url(:medium), :class => "chef-bg-img", :alt => "#{@chef.name}" %>
                    <%= image_tag @chef.picture.image.url(:medium), :class => "chef-actual-img", :alt => "#{@chef.name}" %>
                <%end%>
                <h4 class="chef-name"><%= @chef.chef_coordinate.name %></h4>
                <p class="chef-hotel">
                  <%= @chef.chef_profile.brand_represented if @chef.chef_profile %>
                  <% if @chef.chef_profile.classification.present?  %>
                      <%= @chef.chef_profile.classification %>
                  <% end %>
                </p>
                <p class="chef-addres">
                  <% if @chef.chef_coordinate.locality.present? %>
                      <%= @chef.chef_coordinate.locality.camelize %>,
                  <% end %>
                  <%= @chef.chef_coordinate.city.camelize %>
                </p>
                <ul class="block-3 block-1 text-center" style="padding:0 30px">
                  <li class="each-block">
                    <span id="served-count" class="upper roboto-b"><%= @total_qty %></span>
                    <span class="lower text-uppercase">Dishes served</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-8 col-md-7">
            <div class="row">
              <div class="col-xs-12">
                <div class="dish-discr-tab chef-discr-tab">
                  <div class="panel-discr-header">
                    <ul class="nav nav-tabs" role="tablist">
                      <li class="active"><a href="#tabbed-1" role="tab" data-toggle="tab">THE CHEF</a></li>
                    </ul>
                  </div>
                  <div class="panel-discr-body">
                    <div class="tab-content">
                      <div class="tab-pane active" id="tabbed-1">
                        <p>
                          <%= @chef.chef_profile.about_me %>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="panel-discr-footer">

                        <p class="shrarer-text-info">SHARE WITH FRIENDS </p>
                        <ul class="sicons-list">
                          <li class="in_browser">
                            <a href="#" title="Facebook" onclick="socail_click('http://www.facebook.com/sharer.php?u=http://www.holachef.com')">
                              <i class="fa fa-facebook"></i>
                            </a>
                          </li>
                          <li class="in_browser">
                            <a href="#" title="Twitter" onclick="socail_click('https://twitter.com/intent/tweet?text=Check out this&url=http://www.holachef.com')">
                              <i class="fa fa-twitter"></i>
                            </a>
                          </li>
                          <li class="in_browser">
                            <a href="#" title="Instagram" onclick="socail_click('http://instagram.com/hola_chef')">
                              <i class="fa fa-instagram"></i>
                            </a>
                          </li>
                        </ul>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<input type="hidden" id="total_price" value= <%= calculate_total_price() %> />
<%= content_for :cheff_footer do %>
    <% if session[:cart].blank? %>
        <div id="cheff_footer">
          <%= render 'layouts/chef_footer' %>
        </div>
    <% else %>
        <%= render 'layouts/footer' %>
    <% end %>
<% end %>

