<div class="grey-header text-center">
  <h4 class="text-uppercase">Order History</h4>
</div>
<div class="container">
  <div class="row row-offcanvas row-offcanvas-left">
    <div class="col-xs-12">
      <% if @order_histories.blank?  %>
        <div class="row vertical-center-row NoOrder">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-xs-8 col-xs-offset-2 NoOrder1">No order history found.</div>
            </div>
          </div>
        </div>
      <% else %>
        <div class="prev-masonry">
          <% index = 1 %>
          <% @order_histories.each do |order| %>
            <div class="prev-order-wrapper">
              <table class="table">
                <colgroup>
                  <col class="col-xs-9"><col class="col-xs-3">
                </colgroup>
                <thead>
                  <tr>
                    <td>
                      <% if order.date == Date.today %>
                        Today
                      <% else %>
                        <% date = order.date %>
                        <%= date.strftime("#{date.day.ordinalize} %b, %a") %>
                      <% end %>
                    </td>
                    <td class="text-orange text-right roboto-b"></td>
                  </tr>
                </thead>
                <tbody>                  
                  <% order.ordered_menus.each do |ordered_menu| %>
                    <% food_item = ordered_menu.food_item
                    picture = ordered_menu.food_item.meal_info.picture %>
                    <tr>
                      <td class="p-order-title">
                        <%= ordered_menu.food_item.meal_info.try(:name).camelize %>
                        <span class="p-order-count">
                          <%= ordered_menu.try(:quantity) %>
                        </span>
                        <span class="p-order-chefname">
                          CHEF <%= ordered_menu.cheff.try(:chef_coordinate).try(:name) %>
                        </span>
                      </td>
                      <td>
                        <img class="img-full center-block" src="<%= (food_item && picture ) ? picture.image : "" %>" alt="">
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <!-- <div class="star" style="float:left;" data-score="<%#= ordered_menu.food_item.reviews.find_by_hola_user_id_and_order_id(hola_current_user, order.id).try(:ratings) %>" data-id = "<%#= food_item.id  if food_item %>" data-order="<%= order.id %>" > -->
                        <div class="star" style="float:left;" data-score="<%= get_ratings(order.id, food_item.id) %>" data-id = "<%= food_item.id  if food_item %>" data-order="<%= order.id %>" >
                        </div>    
                        <div class="order_history_rating_msg" id="msg_<%= index %>">Thank You!</div>                     
                      </td>                                              
                      <td>      
                        <a href="#" class="update_review" data-order-id="<%= order.id %>" data-food-item-id="<%= food_item.id %>"> Review </a>
                      </td>
                    </tr>                                  
                    <% index = index + 1 %>                    
                  <% end %>
                  <tr>
                    <td class="roboto-b text-orange">Total</td>
                    <td class="p-total-cost text-orange text-right"><%= order.try(:total) %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          <% end %>
        </div>       
      <% end %>
    </div>
  </div>
</div>

<%= render '/cms/food_items/review' %>

<%= content_for :bottom_content do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $(".update_review").click(function(){
        
          $.ajax({
                  'url' : "/get_review",
                  'type' : 'GET',
                  'data' : {"order_id": $(this).data('order-id'), "food_item_id": $(this).data("food-item-id")},
                  'dataType' : 'script',
                  'success' : function(){
                  
                  }
                  
              })

      })
    })
  </script>
<% end %>
