<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-left">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-12">
          <div class="touch-sides">
            <h6 class="page-title">My Crave Log</h6>
          </div>
        </div>
      </div>

      <% if @order_histories.blank?  %>
          <%= alert_message "No order history found." %>
      <% else %>
          <% @order_histories.each do |order| %>
              <div class="row prev-order-wrapper">
                <div class="col-xs-12">
                  <table class="table table-white">
                    <colgroup>
                      <col class="col-xs-9"><col class="col-xs-3">
                    </colgroup>
                    <thead>
                    <tr>
                      <td><% if order.date == Date.today %>
                            Today
                        <% else %>
                            <% date = order.date %>
                            <%= date.strftime("#{date.day.ordinalize} %b, %a") %>
                        <% end %>
                      </td>
                      <td class="text-orange text-right roboto-b"></td></tr>
                    </thead>
                    <tbody>
                    <% order.ordered_menus.each do |ordered_menu| %>
                        <tr>
                          <td class="p-order-title"><%= ordered_menu.food_item.meal_info.try(:name).camelize %>
                            <span class="p-order-count"> <%= ordered_menu.try(:quantity) %></span>
                            <span class="p-order-chefname">CHEF <%= ordered_menu.cheff.try(:chef_coordinate).try(:name) %></span>
                          </td>

                        </tr>
                    <% end %>
                    <tr>
                      <td class="roboto-b text-orange">Total</td>
                      <td class="p-total-cost text-orange text-right"><%= order.try(:total) %></td>
                    </tr>

                    </tbody>
                  </table>
                </div>
              </div>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
