<div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12">
        <div class="touch-sides">
            <h6 class="page-title">My Crave Log</h6>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">

        <div class="hola-cards">
          <% if @order_histories.blank?  %>
            <%= alert_message "There are no favourite recipes." %>
          <% else %>
            <div class='hola-container cuboid'>
              <% @order_histories.each do |oh| %>
                <div class="item"><a href="#">

                  <ul class="square e-recipe">
                    <li class="entity-card">
                      <div class="entity-image <%= dish_type_css oh.food_item %>">
                        <%= link_to image_tag(oh.food_item.try(:meal_info).try(:picture).try(:image).try(:url), :class => "img-responsive center-block"), "/chef-profile/#{oh.cheff.id}", :id => "chef_info", :alt => "Chef" if !oh.cheff.picture.blank? %>
                      </div>
                      <% if false %>
                      <div class="entity-tag">
                        <% recipe = oh.food_item.try(:recipe) %>
                        <% fav_recipes = set_fav_recipes %>
                        <% percent = set_heart_value(recipe, fav_recipes) %>
                        <ul class="entity-hearts">
                          <% if percent && percent.between?(0, 35)%>
                            <li class="heart filled"></li>
                            <li class="heart"></li>
                            <li class="heart"></li>
                          <% elsif percent &&  percent.between?(36,70) %>
                            <li class="heart filled"></li>
                            <li class="heart filled"></li>
                            <li class="heart"></li>
                          <% elsif percent &&  percent.between?(71,100) %>
                            <li class="heart filled"></li>
                            <li class="heart filled"></li>
                            <li class="heart filled"></li>
                          <% else %>
                            <li class="heart"></li>
                            <li class="heart"></li>
                            <li class="heart"></li>
                          <% end %>
                        </ul>
                      </div>
                      <% end %>
                    </li>
                    <li class="entity-name pv-icon"><%= oh.food_item.try(:meal_info).try(:name) %></li>
                    <li class="entity-by">By <%= oh.cheff.try(:chef_coordinate).try(:name) %></li>
                    <li class="entity-days">
                      <% if oh.order.date == Date.today %>
                        today
                      <% else %>
                        <%= time_ago_in_words(oh.order.date) %> ago
                      <% end %>
                    </li>
                  </ul></a>
                </div>
              <% end %>

            </div>
          <% end %>
        </div>

      </div>
    </div>
</div>
<%= render 'layouts/dynamik_footer', message: "Tap to check availability" %>
