<div class="modal fade" id="login_modal" data-keyboard="false"  data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div id="login_form">
        <form data-async="true" data-target="msg" action= "/hola_session" method="post" id="hola_session">
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          <div class="modal-header">
            <button data-dismiss="modal" class="btn-close pull-right">×</button>
          </div>
          <div class="modal-body">
            <h4 class="modal-titleA text-center">SIGN IN</h4>
            <p class="modal-titleB text-center">We need your Mobile Number</p>
            <div class="row">
              <div class="col-xs-3 form-group">
                <label class="control-label text-6" style="vertical-align:middle;margin-bottom:-10px;">Mobile</label>
              </div>
              <div class="col-xs-9 form-group">
                <%= text_field_tag :mobile, '', class: "form-control validate[required,custom[integer],maxSize[11], minSize[10]]", placeholder:"10 digit mobile number", maxlength: 11, "data-prompt-position" => "bottomLeft" %>
              </div>
              </div>
              <div class="row">
                <div class="col-xs-3 form-group">
                  <label class="control-label text-6" style="vertical-align:middle;margin-bottom:-10px;">Name</label>
                </div>
                <div class="col-xs-9 form-group">
                  <%= text_field_tag :name, '', class: "form-control validate[required]", placeholder: "Name", "data-prompt-position" => "bottomLeft" %>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-3 form-group">
                  <label class="control-label text-6" style="vertical-align:middle;margin-bottom:-10px;">Email</label>
                </div>
                <div class="col-xs-9 form-group">
                  <%= text_field_tag :email, '', class: "form-control validate[required]", placeholder: "Email", "data-prompt-position" => "bottomLeft"  %>
                </div>
              </div>

              <%= hidden_field :save_user_details, true %>
              <%= hidden_field_tag :redirect_to_url, request.path, id: "red_url" %>
            </div>

          <div class="modal-footer">
           <!--  <button type="button" class="btn btn-saffron" data-dismiss="modal">Cancel</button> -->
            <button type="submit" id="login_otp_sms_button" class="btn btn-saffron">SUBMIT</button>
          </div>
        </form>
      </div>
      <div id="otp_form" class="hidden">
        <form data-async="true" data-target="msg" action= "/hola_session/confirm_with_otp.js" method="post" id="hola_session">
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          <div class="modal-header">
           <button data-dismiss="modal" class="btn-close pull-right">×</button>
          </div>
          <div class="modal-body">
              <h4 class="modal-titleB text-center">Please enter OTP you received</h4>
              <div class="row">
                <div class="col-xs-12 form-group">
                  <%= text_field_tag :otp, '', class: "form-control validate[required]", placeholder: "OTP", "data-prompt-position" => "bottomLeft"  %>
                </div>
              </div>
              <%= link_to "Didn't received OTP? Request again", "javascript:void(0)", id: "resend-otp" %><span id="loader" style="display:none"><%= image_tag 'ajax-loader.gif' %></span>
            <div class="row">
              <%= hidden_field :save_user_details, true %>
              <%= hidden_field_tag :redirect_to_url, '', id: "red_url_otp" %>
              <%= hidden_field_tag :pnx, '', id: "pnx" %>
            </div>
          </div>
          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button> -->
            <button type="submit" class="btn btn-saffron">SUBMIT</button>
          </div>

        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
  $(document).ready(function(){
    $('#login_modal').on('hidden.bs.modal', function () {
      window.history.back()
    })

   $('form[data-async]').live('submit', function(event) {
      var $form = $(this);
      var $target = $($form.attr('data-target'));

      $.ajax({
        type: $form.attr('method'),
        url: $form.attr('action'),
        data: $form.serialize()
      });

      event.preventDefault();
    });

   $("#resend-otp").on('click', function(){
      $("#loader").show()
      $.ajax({
        url: "/hola_session/regenerate_otp.js",
        data: {'pnx': $("#pnx").val()},
        success: function(data){
          $("#loader").hide()
        }
      })
   })
    $("#mobile").on('keyup', function(){
         getDetails();
      });
      $("#name").on('click', function(){
         getDetails();
      });

      function getDetails() {
          var mobile_no = $("#mobile").val();
          if(mobile_no.length == 10){
              $.ajax({
                  url: "/hola_session/get_sign_in_details.js",
                  data: {'mobile_no': mobile_no}

              })
          }
          else{
              $("#name").val("");
              $("#email").val("");
          }
      }
  })
</script>
