<%= form_for @meal_type, :url => "/cms/meal_types/#{@meal_type.id}" do |f| %>
	<div class="fields text_fields">
		<div class="left">
			<label for="meal_type_name">Name</label>
		</div>	
		<div class="right">
			<%= f.text_field :name, :disabled => true %>
		</div>	
	</div>	
	<div class="fields select_fields">
		<div class="left">
			<label for="meal_type_from">From</label>
		</div>		
		<div class="right">
			<%= f.select :from, TIME_ARR %>
		</div>	
	</div>	
	<div class="fields select_fields">
		<div class="left">
			<label for="meal_type_to">To</label>	
		</div>
		<div class="right">	
			<%= f.select :to, TIME_ARR %>
		</div>	
	</div>	
	<div class="fields select_fields">
		<div class="left">
			<label for="meal_type_from_display">From Display</label>
		</div>
		<div class="right">	
			<%= f.select :from_display, TIME_ARR %>
		</div>	
	</div>	
	<div class="fields select_fields">
		<div class="left">
			<label for="meal_type_to_display">To Display</label>
		</div>
		<div class="right">	
			<%= f.select :to_display, TIME_ARR %>
		</div>	
	</div>	
	<div class="fields select_fields">
		<div class="left">
			<label for="meal_type_is_active">Is Active</label>
		</div>
		<div class="right">	
			<%= f.check_box :is_active %>
		</div>	
	</div>
	<div class="fields select_fields">
		<% if @meal_type.first_slot != '0 - 0' || @meal_type.second_slot != '0 - 0' || @meal_type.third_slot != '0 - 0' %>
			<b>Added Delivery Slots are:</b><br/><br/>
			<% if @meal_type.first_slot != '0 - 0' %>
				First Slot : <%= @meal_type.first_slot %>
			<% elsif @meal_type.second_slot != '0 - 0' %>
				Second Slot : <%= @meal_type.second_slot %>
			<% elsif @meal_type.third_slot != '0 - 0' %>
				Third Slot : <%= @meal_type.third_slot %>
			<% end %><br/><br/>
		<% end %>
	</div>

	<a id="add_slots">Add/Edit Slots </a> <br/><br/>

	<div id="slots_div" class="hide">
		<% for i in 1..3 %>
			<div id="select_container_<%= i %>" class="fields text_fields">
				<div class="left">
					<label> 
						<% if i == 1 %>
							First
						<% elsif i == 2 %>			
							Second	
						<% else %>
							Third
						<% end %>		
						slot
					</label>
				</div>	
				<div class="right">	
					<div class="left">
						<label for="from_slot_<%= i %>">From</label>
					</div>
					<div class="right">	
						<select name="from_slot_<%= i %>" id="from_slot_<%= i %>">
							<option value="0">Select Time</option>
							<% TIME.each do |key, value| %>
								<option value="<%= key %>"><%= key %></option>
							<% end %>	
						</select>
					</div>						  			
	  				<div class="left">	  					
	  					<label for="to_slot_<%= i %>">To</label>
	  				</div>
					<div class="right">
	  					<select name="to_slot_<%= i %>" id="to_slot_<%= i %>">
	  						<option value="0">Select Time</option>
	  						<% TIME.each do |key, value| %>
	  							<option value="<%= key %>"><%= key %></option>
	  						<% end %>	
	  					</select>  	
	  				</div>	
	  			</div>		
			</div>
		<% end %>
	</div>	
	<input type="hidden" name="slot_updated" id="slot_updated" value="false"/>
	<%= f.button "SUBMIT" %>

<% end %>


<style type="text/css">
	.left{
		float:left;
		width:10%;
		padding-bottom: 10px;
	}
	.right{
		float: left;
		width:90%;
		padding-bottom: 10px;
	}
	.hide{
		display: none;
	}
</style>

<script type="text/javascript">
	$(document).ready(function(){
		$('#add_slots').click(function(){
			$('#slots_div').removeClass('hide');
			$('#slot_updated').val('true');
		})
	})
</script>