<%= stylesheet_link_tag "cms_custom" %>

<% if @meal_type.errors.any? %>
    <div id="errorExplanation" class="errorExplanation">
      <ul>
        <% @meal_type.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for @meal_type, :url => "/cms/meal_types/#{@meal_type.id}" do |f| %>
	<div class="fields text_fields">		
		<label for="meal_type_name">Name</label>
		<%= f.text_field :name, :disabled => true %>		
	</div>	
	<div class="fields select_fields">
		<label for="meal_type_from">From</label>
		<%= f.select :from, TIME_ARR %>		
	</div>	
	<div class="fields select_fields">
		<label for="meal_type_to">To</label>	
		<%= f.select :to, TIME_ARR %>		
	</div>	
	<div class="fields select_fields">
		<label for="meal_type_from_display">From Display</label>
		<%= f.select :from_display, TIME_ARR %>
	</div>	
	<div class="fields select_fields">
		<label for="meal_type_to_display">To Display</label>
		<%= f.select :to_display, TIME_ARR %>	
	</div>	
	<div class="fields select_fields">
		<label>Is Active</label>
		<%= f.check_box :is_active %>		
	</div>
	<div class="fields select_fields">
		<b>Added Delivery Slots are:</b><br/><br/>
		<div class="fields select_fields">						
			First Slot : <%= @meal_type.first_slot %>
			<%= f.check_box :first_slot_active %><br/><br/>	<br/>			
			
			Second Slot : <%= @meal_type.second_slot %>
			<%= f.check_box :second_slot_active %><br/><br/><br/>
					
			Third Slot : <%= @meal_type.third_slot %>		
			<%= f.check_box :third_slot_active %><br/><br/><br/>

			<% if @meal_type.fourth_slot != '0 - 0' %>
				Fourth Slot : <%= @meal_type.fourth_slot %>
				<%= f.check_box :fourth_slot_active %><br/><br/><br/>
			<% else %>
				<%= f.check_box :fourth_slot_active, { :class => 'hide'} , 0 %>
			<% end %>	

			<% if @meal_type.fifth_slot != '0 - 0' %>
				Fifth Slot : <%= @meal_type.fifth_slot %>
				<%= f.check_box :fifth_slot_active %><br/><br/><br/> 
			<% else %>
				<%= f.check_box :fifth_slot_active, { :class => 'hide'} , 0 %>
			<% end %>	
			
			<% if @meal_type.sixth_slot != '0 - 0' %>
				Sixth Slot : <%= @meal_type.sixth_slot %>
				<%= f.check_box :sixth_slot_active %> 
			<% else %>
				<%= f.check_box :sixth_slot_active, { :class => 'hide'} , 0 %>	
			<% end %>		
		</div>				
	</div>
	<div class="fields text_fields">		
		<a id="add_slots">Edit Slots </a> <br/><br/>
	</div>			

	<div id="slots_div" class="hide">
		<% for i in 1..6 %>
			<div id="select_container_<%= i %>" class="fields text_fields">
				<label> 
					<%= get_slot_number_string(i) %> slot
				</label>				
				<label for="from_slot_<%= i %>">From</label>
				<select name="from_slot_<%= i %>" id="from_slot_<%= i %>">
					<option value="0">Select Time</option>
					<% TIME.each do |key, value| %>
						<option value="<%= key %>" <%= set_selected(@meal_type, i, key, 'from_time') %>><%= key %></option>
					<% end %>	
				</select><br/><br/><br/>
				<label></label>
				<label for="to_slot_<%= i %>">To</label>
	  			<select name="to_slot_<%= i %>" id="to_slot_<%= i %>">
	  				<option value="0">Select Time</option>
	  				<% TIME.each do |key, value| %>
	  					<option value="<%= key %>" <%= set_selected(@meal_type, i, key, 'to_time') %>><%= key %></option>
	  				<% end %>	
	  			</select>  		  			
	  		</div>	
		<% end %>
	</div>	
	<div class="fields text_fields">		
		<input type="hidden" name="slot_updated" id="slot_updated" value="false"/>
		<%= f.button "SUBMIT" %>
	</div>	
<% end %>

<style type="text/css">	
	.hide{
		display: none;
	}
</style>

<script type="text/javascript">
	time_arr = ['12AM', '1AM', '2AM', '3AM', '4AM', '5AM', '6AM', '7AM', '8AM', '9AM', '10AM', '11AM', '12PM', '1PM', '2PM', '3PM', '4PM', '5PM', '6PM', '7PM', '8PM', '9PM', '10PM', '11PM', '11:30PM'] 

	from_to_time_arr = ["12:00 AM", "01:00 AM", "02:00 AM", "03:00 AM", "04:00 AM", "05:00 AM", "06:00 AM", "07:00 AM", "08:00 AM", 
	"09:00 AM", "10:00 AM", "11:00 AM", "12:00 PM", "01:00 PM", "02:00 PM", "03:00 PM", "04:00 PM", "04:30 PM", "05:00 PM", "06:00 PM", 
	"07:00 PM", "08:00 PM", "09:00 PM", "10:00 PM", "11:00 PM", "11:30 PM", "11:59 PM"]

    function set_options(index_for_slicing, ele_to_be_affected, arr, val_of_affected_ele){ 
        options = "";
        options += "<option value='0'>Select Time</option>";
        sub_arr = arr.slice($.inArray(index_for_slicing,arr));        
        for(var i = 0; i < sub_arr.length; i++) 
          if(val_of_affected_ele == sub_arr[i])
            options += "<option value='" + sub_arr[i] + "' selected >" + sub_arr[i] + "</option>";
          else  
            options += "<option value='" + sub_arr[i] + "'>" + sub_arr[i] + "</option>";

        $('#'+ ele_to_be_affected +' option').remove();         
        $('#'+ ele_to_be_affected).html(options);
    }   

	$(document).ready(function(){
		$('#add_slots').click(function(){
			$('#slots_div').removeClass('hide');
			$('#slot_updated').val('true');
		})

		$('#from_slot_1').change(function(){    	
        	set_options($(this).val(), 'to_slot_1', time_arr, $('#to_slot_1').val());
    	});

    	$('#to_slot_1').change(function(){
        	set_options($(this).val(), 'from_slot_2', time_arr, $('#from_slot_2').val());
    	});

    	$('#from_slot_2').change(function(){    
        	set_options($(this).val(), 'to_slot_2', time_arr, $('#to_slot_2').val());
    	});

	    $('#to_slot_2').change(function(){
    	    set_options($(this).val(), 'from_slot_3', time_arr, $('#from_slot_3').val());
    	});

    	$('#from_slot_3').change(function(){
        	set_options($(this).val(), 'to_slot_3', time_arr, $('#to_slot_3').val());
    	});

		  $('#to_slot_3').change(function(){
        	set_options($(this).val(), 'from_slot_4', time_arr, $('#from_slot_4').val());
    	});

    	$('#from_slot_4').change(function(){    	
        	set_options($(this).val(), 'to_slot_4', time_arr, $('#to_slot_4').val());
    	});

    	$('#to_slot_4').change(function(){
        	set_options($(this).val(), 'from_slot_5', time_arr, $('#from_slot_5').val());          
    	});

    	$('#from_slot_5').change(function(){    	
        	set_options($(this).val(), 'to_slot_5', time_arr, $('#to_slot_5').val());
    	});

    	$('#to_slot_5').change(function(){
        	set_options($(this).val(), 'from_slot_6', time_arr, $('#from_slot_6').val());
    	});

    	$('#from_slot_6').change(function(){    	
        	set_options($(this).val(), 'to_slot_6', time_arr, $('#to_slot_6').val());
    	});

    	$('#meal_type_from').change(function(){    	
        	set_options($(this).val(), 'meal_type_to', from_to_time_arr, $('#meal_type_to').val());
    	});

    	$('#meal_type_from_display').change(function(){    	
        	set_options($(this).val(), 'meal_type_to_display', from_to_time_arr, $('#meal_type_to_display').val());
    	});
  	
      set_options($('#from_slot_1').val(), 'to_slot_1', time_arr, $('#to_slot_1').val());    	
    	set_options($('#to_slot_1').val(), 'from_slot_2', time_arr, $('#from_slot_2').val());    	
    	set_options($('#from_slot_2').val(), 'to_slot_2', time_arr, $('#to_slot_2').val());
    	set_options($('#to_slot_2').val(), 'from_slot_3', time_arr, $('#from_slot_3').val());
   	  set_options($('#from_slot_3').val(), 'to_slot_3', time_arr, $('#to_slot_3').val());
      set_options($('#to_slot_3').val(), 'from_slot_4', time_arr, $('#from_slot_4').val());
      set_options($('#from_slot_4').val(), 'to_slot_4', time_arr, $('#to_slot_4').val());
      set_options($('#to_slot_4').val(), 'from_slot_5', time_arr, $('#from_slot_5').val());
      set_options($('#from_slot_5').val(), 'to_slot_5', time_arr, $('#to_slot_5').val());
      set_options($('#to_slot_5').val(), 'from_slot_6', time_arr, $('#from_slot_6').val());
      set_options($('#from_slot_6').val(), 'to_slot_6', time_arr, $('#to_slot_6').val());

	});
</script>