<style>
  #cooking_today_food_item_id.selectbox{
      border: 1px solid #cccccc;
      background: none;
  }
  #cooking_today_cheff_id_container, #cooking_today_food_item_id, #cooking_today_food_item_id_container{
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 200px;
  }
</style>
<%#= f.cms_text_field :name %>
<%= f.cms_drop_down :cheff_id, Cheff.all(:order => "id").map { |c| [c.name, c.id] },
                        :prompt => "Select Cheff Name", :label => "Cheff Name" %>
<% if @block.new_record? %>
    <div class="fields text_fields">
      <label for="dish_dish_image">Cheff's Dishes</label>
      <select id="cooking_today_food_item_id" name="cooking_today[food_item_id]" style="width: 458px" disabled="disabled" class="selectbox"></select>
    </div>
    <%= f.cms_text_field :quantity %>
    <%= f.cms_date_picker :date %>
<% else %>
    <%=f.cms_drop_down :food_item_id, options_for_select(FoodItem.all(:order => "id", :conditions => {:cheff_id => @block.cheff_id}).map { |c| [c.meal_info.name, c.id] }, @block.food_item_id ),
                       :include_blank => "Select Dish", :label => "Recipe Name"%>
    <%= f.cms_text_field :quantity %>
    <%= f.cms_text_field :ordered, :disabled=> true %>
    <%= f.cms_date_picker :date, :disabled => true %>
<% end %>

<script>
    $("#cooking_today_cheff_id").change(function(){
        var chef = $(this).val();
        if(chef==''){
            $("#cooking_today_food_item_id").val('');
            $("#cooking_today_food_item_id").attr('disabled','disabled');
        }
        else {
            $.ajax({
                'type': 'GET',
                'url': '/cms/cheffs/load_dishes?cheff_id=' + chef,
                'dataType': 'script'
            })
        }
    });
</script>
