<% cart_menu = collect_cart(@cooking_today) if !@cooking_today.nil? %>
<input type="hidden" id="selected_item" value="<%=@cooking_today.id%>" />
<input type="hidden" id="item_max_qty" value="<%= qty_left(@cooking_today)%>" />
<div class="modal-dialog modal-sm">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="btn-close pull-right">x</button>
      <ul class="user-profile">
        <li class="profile-pic">
          <%= link_to image_tag(@cooking_today.cheff.cheff_image.url, :class => "img-responsive center-block"), "/chef-profile/#{@cooking_today.cheff}", :id => "chef_info" %>
        </li>
        <li class="user-name">
          <h3><%= cart_menu[:cheff_name] %>
            <span class="user-level"><%= @cooking_today.cheff.hotel_name %></span></h3>
        </li>
      </ul>
    </div>
    <div class="modal-body"> <!-- below content changes from jquery -->

      <ul class="square">
        <li class="recipe-block veg">
          <div class="recipe-header">
            <div class="add-lens"></div>
            <div class="recipe-name"><%= cart_menu[:dish_name]%></div>
            <div class="add-heart"></div>
          </div>
          <div class="recipe-image hidden">
          </div>
        </li>
        <li class="recipe-title hidden"></li>
        <li class="recipe-tags">
          <ul class="stock-value">
            <li class="recipe-stock"><span class="stock-count"><%= qty_left(@cooking_today) %></span> left</li>
            <li class="recipe-price"><span><%= cart_menu[:price] %></span>/-</li>
          </ul>
        </li>
      </ul>

    </div>
    <div class="modal-footer modal-form">
      <div class="row">
        <div class="col-xs-12 text-center">
          <div class="row">
            <div class="col-xs-3">
              <button class="btn btn-orange disabled" type="button" id="add-order-minus" disabled>-1</button>
            </div>
            <div class="col-xs-3">
              <p class="form-control looks-input" id="order-count"><%= cart_menu[:quantity] %></p>
            </div>
            <div class="col-xs-3">
              <button class="btn btn-orange" type="button" id="add-order-plus">+1</button>
            </div>
            <div class="col-xs-3">
              <button type="button" class="btn btn-link text-orange" data-dismiss="modal" id="review-order-done">Done</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<%#= javascript_include_tag 'application' %>