<% cart_menu = collect_cart(@cooking_today) if !@cooking_today.nil? %>
<input type="hidden" id="selected_item" value="<%=@cooking_today.id%>" />
<input type="hidden" id="item_max_qty" value="<%= qty_left(@cooking_today)%>" />
<div class="modal-dialog modal-sm">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="btn-close pull-right">&times;</button>
    </div>
    <div class="modal-body"> <!-- below content changes from jquery -->

      <ul class="square" style="padding:0 15px;">
        <li class="recipe-block <%= set_cooing_today_type(@cooking_today) %>">
          <% if !@cooking_today.food_item.meal_info.picture %>
              <div class="recipe-header">
                <div><%#= link_to "","/recipe/#{@cooking_today.food_item.meal_info.id}",:class => "add-lens" %></div>
                <div class="recipe-name"><%= cart_menu[:dish_name]%></div>
                <!-- <div class="add-heart"></div> -->
              </div>
          <% end %>
          <% if @cooking_today.food_item.meal_info.picture && @cooking_today.food_item.meal_info.picture.image? %>
              <div><%#= link_to "","/recipe/#{@cooking_today.food_item.meal_info.id}",:class => "add-lens" %></div>
              <div class="recipe-name" style="display:none;"><%= cart_menu[:dish_name]%></div>
              <!-- <div class="add-heart"></div> -->
              <div class="recipe-image">
                <%= image_tag @cooking_today.food_item.meal_info.picture.image.url, :alt=>"#{ @cooking_today.food_item.meal_info.name}", :class => "img-responsive center-block" %>
              </div>
          <% end %>
        </li>
        <li class="recipe-title" style="margin:10px 0;"><%= @cooking_today.food_item.meal_info.name %> <img src="assets/<%= set_cooing_today_type(cooking_today) %>.png" alt="Cart" style="position: absolute;right: 20px;"></li>
        <li class="recipe-tags hidden">
          <ul class="stock-value">
            <li class="recipe-stock"><span class="stock-count"><%= qty_left(@cooking_today).to_i - cart_menu[:quantity].to_i %></span> left</li>
            <li class="recipe-price"><span><%= cart_menu[:price] %></span>/-</li>
          </ul>
        </li>
      </ul>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 text-center">
                  <ul class="set-order">
                    <li class="order-less ctrl-btn pull-left"><button type="button" class="decrease-order-item" id="add-order-minus"><i class="fa fa-minus"></i></button></li>
                    <li class="order-count"> <p class="form-control looks-input" id="order-count"><%= cart_menu[:quantity].to_i %></p></li>
                    <li class="order-more ctrl-btn pull-right"><button type="button" class="increase-order-item" id="add-order-plus"><i class="fa fa-plus"></i></button></li>
                  </ul>
              <!--     <p class="charged-cost">Rs. <span class="charged-value"><%= cart_menu[:price].to_i * cart_menu[:quantity].to_i %></p> -->
        </div>
      </div>
    </div>
    <div class="modal-footer modal-form">
     <!-- <div class="row">
        <div class="col-xs-12 text-center">
          <div class="row">
            <div class="col-xs-3">
              <button class="btn btn-orange disabled" type="button" id="add-order-minus" disabled>-1</button>
            </div>
            <div class="col-xs-3">
              <p class="form-control looks-input" id="order-count"><%= cart_menu[:quantity] %></p>
            </div>
            <div class="col-xs-3">
              <button class="btn btn-orange" type="button" id="add-order-plus">+1</button>
            </div>
            <div class="col-xs-3">
              <button type="button" class="btn btn-link text-orange" data-dismiss="modal" id="review-order-done">Done</button>
            </div>
          </div>
          
        </div>
      </div>-->
      <div class="form-group text-center">
              <button type="button" class="btn btn-saffron" data-dismiss="modal" id="review-order-done">UPDATE ORDER</button>
          </div>
    </div>

  </div>
</div>
<%#= javascript_include_tag 'application' %>
