<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Hola</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application"%>
  <link rel="shortcut icon" href="/assets/favicon.png">
  <!--[if lt IE 9]><script src="/assets/ie8-responsive-file-warning.js"></script><![endif]-->
  <!--[if lt IE 9]>
  <script src="/assets/html5shiv.js"></script>
  <script src="/assets/respond.min.js"></script>
  <![endif]-->
</head>
<body>
    <div id="wrap">
        <%= render :partial => "/layouts/header" %>
        <%= yield %>
        <%= render :partial => "/layouts/footer" %>
    </div><!-- #wrap ends -->
    <script src="/assets/jquery-1.10.2.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/jquery.grid-a-licious.min.js"></script>
    <script type="text/javascript" src="/assets/custom.js"></script>
</body>
</html>
