<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
  <meta name="description" content="Eat Hearty, Eat Better! Everyday. Holachef brings the best taste, variety and convenience of ordering-in hearty, wholesome meals from the best chefs around. Download Holachef App from Google Play store or call now ‎+91-8080804652‎ to order.‏ Service area currently restricted to Powai, Chandivali, Andheri East, JVLR, Vikhroli, Bhandup!">
  <meta name="author" content="">
  <title>Hola</title>
  <%= stylesheet_link_tag "application" %>
  <link rel="shortcut icon" href="/assets/favicon.png">
  <!--[if lt IE 9]><script src="/assets/ie8-responsive-file-warning.js"></script><![endif]-->
  <!--[if lt IE 9]>
  <script src="/assets/html5shiv.js"></script>
  <script src="/assets/respond.min.js"></script>
  <![endif]-->
  <%#= render :partial => "layouts/social_scripts" %>
  <%= render 'layouts/add_roll_script' %>
  <%= yield :header_content %>
</head>
<body>
    <div id="wrap">
        <%= render :partial => "/layouts/header" %>
        <div class="sliding-page row-offcanvas row-offcanvas-left">
          <%= render 'layouts/side_menu' %>
          <div class="right-body">
            <div id="flsh" class="text-center">
              <%= flash_alert %>
            </div>
            <%= yield %>
          </div>
        </div>

    </div><!-- #wrap ends -->
      <% if !@footer %>
          <%= render 'layouts/content_footer' %>
      <% end %>
    <%= javascript_include_tag "application"%>
    <%= render 'hola_session/login' %>
    <%= login_check %>
    <script type="text/javascript">
    function socail_click(url)
     {
          window.open(url,'Sharer','left=20,top=20,width=500,height=500,toolbar=1,resizable=0');
          return false;
    }

    </script>
    <%= yield :bottom_content %>
</body>
</html>
